
<div>


    <div class="container">
        <h3 class="inner_page_title"><i class="material-icons">notifications_active </i> Notifications</h3>
      <div class="row">
                <div class="col-sm-4 recallcards" *ngFor="let recallsatuts of recallcards" >
                    <div class="recards">
                      <i class="material-icons {{recallsatuts.iconsclass}} iconsrecall"> {{recallsatuts.recallicon}}</i>
                      <h2 class="count">{{recallsatuts.recallcount}}</h2>
                      <p>{{recallsatuts.recalltitle}}</p>
                    </div>
                </div>
    </div>
    
    <div class="table_main">
         <h1>All Notifications</h1>
        <div class="table-responsive" *ngFor="let productnotification of notificationlist">
            <div class="notificationcard">
              <div class="row">
                 <div class="col-sm-1">
                         <img src="assets/image/{{productnotification.productimg}}" class="productimg_notification">
                 </div>
                 <div class="col-sm-11">
                        {{productnotification.productname}}<br>
                        <p class="notificationdate"><strong> 12-05-2019</strong></p>
                 </div>
              </div>
            </div>
        </div>
    </div>
    
    
    </div>
    
    </div>
    
    