 <!-- <div class="container">
    <div class="row title_main">
        <div class="col-md-10">
            <h3 class="page_title"><i class="material-icons">dashboard </i> Manage Retailer</h3>
       
        </div>
        <div class="col-md-2 title_icon add_btn text-right">
        <i class="material-icons" style="cursor: pointer;" data-toggle="modal" data-target="#addproduct">
        add_circle
        </i>
        </div>
        </div>
          <div class="row">
                <div class="col-sm-4 recallcards" *ngFor="let recallsatuts of recallcards" >
                    <div class="recards">
                      <i class="material-icons {{recallsatuts.iconsclass}} iconsrecall"> {{recallsatuts.recallicon}}</i>
                      <h2 class="count">{{recallsatuts.recallcount}}</h2>
                      <p>{{recallsatuts.recalltitle}}</p>
                    </div>
                </div>
    </div>
    
    <div class="table_main">
       <div class="table-responsive ">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8 datatable_points">
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header> S.No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>
              <ng-container matColumnDef="name" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
              <ng-container matColumnDef="contact">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact </th>
                <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
              </ng-container>
              <ng-container matColumnDef="email" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>
              <ng-container matColumnDef="address" >
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
                  <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                </ng-container>
                <ng-container matColumnDef="sellername" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Seller Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.sellername}} </td>
                  </ng-container>
                  <ng-container matColumnDef="productname">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.productname}} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="action" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                        <td mat-cell *matCellDef="let element">
                          <i (click)="view()" class="material-icons cursor">visibility</i> 
                          <i (click)="edit()" class="material-icons cursor">create</i></td>
                      </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
    </div>
    
</div> -->











 <!-- the modal -->
 <div class="modal fade" id="addcustomer">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">

<!-- modal header -->
<div class="modal-header">
  <h4 class="modal-title">Add Retailer</h4>
  <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>



 <!-- Modal body -->
 <div class="modal-body">
    <!-- <form action=""> -->

<div >
<div class="form-group">
    <label for="usr">Name:</label>
    <input type="text" class="form-control" id="usr">
</div>
<div class="form-group">
    <label for="usr">Contact:</label>
    <input type="text" class="form-control" id="usr">
</div>
<div class="form-group">
    <label for="usr">Email:</label>
    <input type="text" class="form-control" id="usr">
</div>
<div class="form-group">
  <label for="address">Address : </label>
  <textarea class="form-control" rows="1" id="address" name="text"></textarea>
</div>

<div class="form-group">
  <label for="Retailer Name">Retailer Name : </label>
  <textarea class="form-control" rows="1" id="comment" name="text"></textarea>
</div>
<div class="form-group">
  <label for="Payment Mode">Product Name : </label>
  <textarea class="form-control" rows="1" id="comment" name="text"></textarea>
</div>

</div>

    <button type="submit" (click)="add()" class="btn btn-primary">Submit</button>
  <!-- </form> -->
     </div>

      </div>
    </div>
    </div>















<div id="wrapper">

    <ul class="sidebar navbar-nav">
        <li class="nav-item">
            <a class="nav-link nav-logo" routerLink="/manufuctrermanage-product">
             <img src="assets/image/{{manulogo}}"  alt="Ford" class="img-fluid" />
              </a>
        </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="/manufacturerdashboard">
                  <i class="fas fa-fw fa-tachometer-alt"></i>
                  <span>Dashboard</span>
                </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/recall">
                    <i class="fas fa-fw fa-history "></i>
                    <span>Recalls</span>
                  </a>
                </li>
              <li class="nav-item">
                      <a class="nav-link" routerLink="/manufuctrermanage-product">
                        <i class="fas fa-fw fa-boxes"></i>
                        <span>Products</span>
                      </a>
                    </li>
                        <li class="nav-item">
                              <a class="nav-link" routerLink="/sale">
                                <i class="fas fa-fw fa-user-check"></i>
                                <span>Sales</span>
                              </a>
                            </li>
                            <li class="nav-item">
                                  <a class="nav-link" routerLink="/manageretailer">
                                    <i class="fas fa-fw fa-users"></i>
                                    <span>Customers</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                      <a class="nav-link" routerLink="/viewcomplaint">
                                        <i class="fas fa-fw fa-envelope-open-text"></i>
                                        <span>Complaints</span>
                                      </a>
                                    </li>
                                    <li class="nav-item">
                                          <a class="nav-link" routerLink="/reports">
                                            <i class="fas fa-fw fa-file-alt"></i>
                                            <span>Reports</span>
                                          </a>
                                        </li>
              <li class="nav-item">
                      <a class="nav-link" routerLink="/manufucturer-settings">
                  <i class="fas fa-fw fa-cog"></i>
                  <span>Settings</span>
                </a>
              </li>     
    </ul>


<div id="content-wrapper" class="p_l_226">
    <div class="page-heading p-3">
        <div class="page-title">  
      <h3>Customers</h3>
          </div>
          <div class="page-controls">
                 <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                  Add Customer
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" style="cursor: pointer;" data-toggle="modal" data-target="#addcustomer">New</a>
                    <a class="dropdown-item"  style="cursor: pointer;" href="#">Bulk Import</a>
                  </div>
                  <!-- <button type="button" class="btn btn-info btn-sm">Edit</button>
                  <button type="button" class="btn btn-danger btn-sm">Delete</button> -->
              
      
          </div>
      <div class="clear-fix"></div>
      </div>
  <div class="container-fluid">

      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <table class="table card-table table-vcenter">
                      <tr>
                          <th><input type="checkbox" /></th>
                        <th>Customer Id</th>
                        <th>Full Name</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Customer Since</th>
                      </tr>
                    </table>
                    
                </div>
          </div>
        </div>

  </div>
  <!-- /.container-fluid -->


</div>
</div>
<!-- /.content-wrapper -->
 







