
<div id="wrapper">
    <ul class="sidebar navbar-nav">
        <li class="nav-item">
            <a class="nav-link nav-logo" routerLink="/manufuctrermanage-product">
             <img src="assets/image/{{manulogo}}"  alt="Ford" class="img-fluid" />
              </a>
        </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="/manufacturerdashboard">
                  <i class="fas fa-fw fa-tachometer-alt"></i>
                  <span>Dashboard</span>
                </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/recall">
                    <i class="fas fa-fw fa-history "></i>
                    <span>Recalls</span>
                  </a>
                </li>
              <li class="nav-item">
                      <a class="nav-link" routerLink="/manufuctrermanage-product">
                        <i class="fas fa-fw fa-boxes"></i>
                        <span>Products</span>
                      </a>
                    </li>
                        <li class="nav-item">
                              <a class="nav-link" routerLink="/sale">
                                <i class="fas fa-fw fa-user-check"></i>
                                <span>Sales</span>
                              </a>
                            </li>
                            <li class="nav-item">
                                  <a class="nav-link" routerLink="/manageretailer">
                                    <i class="fas fa-fw fa-users"></i>
                                    <span>Customers</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                      <a class="nav-link" routerLink="/viewcomplaint">
                                        <i class="fas fa-fw fa-envelope-open-text"></i>
                                        <span>Complaints</span>
                                      </a>
                                    </li>
                                    <li class="nav-item">
                                          <a class="nav-link" routerLink="/reports">
                                            <i class="fas fa-fw fa-file-alt"></i>
                                            <span>Reports</span>
                                          </a>
                                        </li>
              <li class="nav-item">
                      <a class="nav-link" routerLink="/manufucturer-settings">
                  <i class="fas fa-fw fa-cog"></i>
                  <span>Settings</span>
                </a>
              </li>     
    </ul>


    <div id="content-wrapper" class="p_l_226">
        <div class="page-heading p-3">
            <div class="page-title">  
        <h3>Recalls</h3>
              </div>
              <div class="page-controls">
                  <button type="button" class="btn btn-sm btn-primary" (click)="addnewrecallClick()">
                   New Recall
                   </button>
           </div>
        <div class="clear-fix"></div>
        </div>
      <div class="container-fluid">

          
<div class="row">
  <div class="col-md-12">
     <div class="card table-responsive">
        <table class="table card-table table-vcenter table-striped">
            <tr>
                <th class="text-muted">Product</th>
                <th class="text-muted">Date</th>
                <th class="text-muted">Recall No</th>
                <th class="text-muted">Units</th>
                <th class="text-muted">Remedy</th>
                <th class="text-muted">Contact</th>
                <th class="text-muted">Status</th>
                <th class="text-muted">Action</th>
            </tr>
              <!-- <tr >
                  <td class="text-center p-2" rowspan="2">
                    <h3 class="mb-0">Open </h3>
                    <p>{{recalllist.recalldate | date:"dd/MM/yyyy"}}</p>
                 </td>
                  <td colspan="5">
                    <h4 class="mb-0">{{recalllist.productname}}</h4>
                    <p class="mb-0">
                   {{recalllist.summary}} <br />
                  </p></td>
                </tr> -->
                <tr *ngFor="let recalllist of recalllistdetail">
                    <td>{{recalllist.productname}}</td>
                    <td>{{recalllist.recalldate | date:"dd/MM/yyyy"}}</td>
                    <td>{{recalllist.recallno}}</td>
                    <td>{{recalllist.units}}</td>
                    <td>{{recalllist.remedy}}</td>
                    <td>{{recalllist.consumer_contact}}</td>
                    <td>
                      <span *ngIf="recalllist.status==1">Open</span>
                      <span *ngIf="recalllist.status==0">Closed</span>
                    </td>
                  <td>
                      <button type="button" class="btn btn-info btn-sm m_r_10">Edit</button>
                      <button type="button" class="btn btn-danger btn-sm m_r_10">Delete</button>
                      <button *ngIf="recalllist.publish==0" type="button" (click)="PublishClick(recalllist.id)" class="btn btn-danger  btn-sm">Publish</button>
                      <span *ngIf="recalllist.publish==1" style="color:green">Published</span>
                  </td>
                </tr>


        </table>
      </div>
      <!-- <hr/>
        <div class="card">
            <table class="table card-table table-vcenter table-striped">
              <tr>
                <td class="text-center p-2" rowspan="2">
                  <h3 class="mb-0">Closed </h3>
                  <p>05 Jan 2019</p>
               </td>
                <td colspan="5">
                  <h4 class="mb-0">Exit Window May be Blocked</h4>
                  <p class="mb-0">
                      In the event of an emergency, occupants may try to escape through the blocked window, but would not be able to, increasing their risk of injury.
                </p></td>
              </tr>
              <tr>
                <td><span class="text-muted">NHTSA #</span><br />
                19V309000</td>
                <td><span class="text-muted">Components</span><br />
                EXTERIOR LIGHTING</td>
                <td><span class="text-muted">Units</span><br />
                1,517</td>
                <td><span class="text-muted">Remedy</span><br />
                Repair</td>
                <td>
                <button type="button" class="btn btn-info btn-sm">Edit</button>
                <button type="button" class="btn btn-danger btn-sm">Delete</button>
                </td>
              </tr>
            </table>
          </div> -->
  </div>
</div>
</div>
</div>
  </div>

























<!-- 
<div>
<h3 class="page_title"><i class="material-icons">notifications </i> Recall</h3>
  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-2">
              <div class="recentrecall">
                   <h1 class="card_title">Recent Recall</h1>
                   <marquee behavior="scroll" direction="up" class="h_410">
                        <div class="products_list" *ngFor="let recentrecalllist of recentrecalls" (click)="productClick(recentrecalllist.producttype)">
                                <h1>{{recentrecalllist.recentproductname}} <span class="titlecount">{{recentrecalllist.recentproductcount}}</span></h1>
                                <span *ngFor="let subproduct of recentrecalllist.producttags">
                                   <p>{{subproduct.subproducts}}</p>
                                </span>
                          </div>
                   </marquee>
              </div>
          </div>
          <div class="col-sm-9 p_l_0">
              <div class="row" >
                  <div class="col-sm-4 productcards" *ngFor="let recallsatuts of recallcards" >
                      <div class="recards">
                        <h5 class="count">{{recallsatuts.producttype}}</h5>
                        <p class="m_t_12">{{recallsatuts.recallprice}}</p>
                             <div class="row m_t_12">
                                   <div class="col-sm-5">
                                      <p class="product_sub_title">{{recallsatuts.shippingdate}}</p>
                                   </div>
                                   <div class="col-sm-7 text-right">
                                    <p class="product_sub_title">Status: Inprogress</p>
                                 </div>
                             </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
 -->
