    <div class="page-heading p-3">
        <div class="page-title">  
    <h3>My Purchases</h3>
          </div>
    <div class="page-controls">
      <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addproduct">
       Add Product
      </button>
    </div>
    </div>
    <div id="wrapper">
      <div id="content-wrapper">
        <div class="container-fluid">
          <div class="row">
              <div class="col-md-9">
                  <div class="card">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="custom-checkbox filter-list float-right">
                            <span class="text-muted">Filters: </span>
                        <ul>
                            <li>
                                  <input type="checkbox" class="custom-control-input" id="veh" value="1" value="1" [(ngModel)]="vehicle" (change)="filter(vehicle?'vehicle':'0')" >
                                  <label class="custom-control-label" for="veh">Vehicles</label>
                            </li>
                            <li>
                                <input type="checkbox" class="custom-control-input" [(ngModel)]="consumer"  (change)="filter(consumer?'Consumer':'0')" id="con" value="1">
                                  <label class="custom-control-label" for="con">Consumer Products</label>
                                </li>
                                <li>
                                <input type="checkbox" [(ngModel)]="food" (change)="filter(food?'food':'0')" class="custom-control-input" id="food" value="1">
                                  <label class="custom-control-label" for="food">Food</label>
                                </li>
                                <li>
                                <input type="checkbox" [(ngModel)]="drug" (change)="filter(drug?'drug':'0')" class="custom-control-input" id="drug" value="1">
                                  <label class="custom-control-label" for="drug">Drugs</label>
                                </li>
                              </ul>
                            </div>
                      </div>
                    </div>
  <hr/>
                      <div class="table-responsive">
                          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                              <thead>
                                  <tr>
                                    <th>Product Name</th>
                                    <th>Reference No.</th>
                                    <th>Date of Purchase</th>
                                    <th>Retailer</th>
                                    <th>Amount</th>
                                    <th>Manage</th>
                                  </tr>
                              </thead>
                                <tfoot>
                                  <tr>
                                      <th>Product Name</th>
                                      <th>Reference No.</th>
                                      <th>Date of Purchase</th>
                                      <th>Retailer</th>
                                      <th>Amount</th>
                                    <th>Manage</th>
                                  </tr>
                                </tfoot>
                                <tbody>
      <tr *ngFor="let addedpro of productlist;let i=index" [attr.data-index]="i">
            <td>
            <span *ngIf="i!=updtadeProduct  || editproshow==false">{{addedpro.productname}}</span> 
            <span *ngIf="i==updtadeProduct && editproshow==true"><input   [(ngModel)]="addedpro.productname" class="form-control" type="text" class="form-control"></span> 
            </td>
            <td>
            <span *ngIf="i!=updtadeProduct  || editproshow==false">{{addedpro.referenceno}}</span> 
            <span *ngIf="i==updtadeProduct && editproshow==true"><input [(ngModel)]="addedpro.referenceno"   class="form-control" type="text" class="form-control"></span> 
          </td>
            <td>
              <span *ngIf="i!=updtadeProduct  || editproshow==false">{{addedpro.dateofpurchase | date:"MM/dd/yyyy"}}</span> 
              <span *ngIf="i==updtadeProduct && editproshow==true"><input [(ngModel)]="addedpro.purchasedate"  class="form-control" type="text" class="form-control"></span>                                          
            </td>
            <td>
                <span *ngIf="i!=updtadeProduct  || editproshow==false">{{addedpro.retailername }}</span> 
                <span *ngIf="i==updtadeProduct && editproshow==true"><input  [(ngModel)]="addedpro.retailname" class="form-control" type="text" class="form-control"></span> 
              </td>
            <td>
              <span *ngIf="i!=updtadeProduct  || editproshow==false">{{addedpro.amount}}</span> 
              <span  *ngIf="i==updtadeProduct && editproshow==true"><input [(ngModel)]="addedpro.payment"  class="form-control" type="text" class="form-control"></span> 
            </td>
            <td>
                <span *ngIf="i!=updtadeProduct || editproshow==false">
                    <a (click)="editproduct(i)" class="btn btn-sm btn-mrgrt btn-outline-primary">Edit</a> 
                    <a (click)="deleteproduct(i)" class="btn btn-sm btn-outline-danger">Delete</a>
                </span>               
                <span *ngIf="i==updtadeProduct && editproshow==true">
                    <a (click)="saveProduct(i,addedpro.productname,addedpro.referenceno,addedpro.purchasedate,addedpro.payment,addedpro.retailname)" class="btn btn-sm btn-mrgrt btn-outline-primary">Save</a> 
                </span>               
            </td>
      </tr>
                                </tbody>
                              </table>
                        </div>
  
                    </div>
              </div>
              <div class="col-md-3">
                      <div class="card">
                              <div class="card-body p-0 ra-ticker">
                      <ul class="nav nav-tabs">
                              <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabvehicle">
                                  <i class="fa fa-car"></i>
                                  <span>Vehicle</span>
                                </a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabconsumer">
                                      <i class="fa fa-shopping-cart"></i>
                                      <span>Consumer</span>
                                </a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabfood">
                                      <i class="fa fa-cheese"></i>
                                      <span>Food</span>
                                </a>
                              </li> 
                               <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabdrug">
                                      <i class="fa fa-pills"></i>
                                      <span>Drug</span>
                                </a>
                              </li>
                            </ul>
                            <div class="tab-content">
                              <div class="tab-pane px-0 container active" id="tabvehicle">
                                  <!-- <marquee behavior="scroll" direction="up" class="h_410">
                                      <div id="divRss1"></div>                        
                                  </marquee> -->
                                  <div class="newsupdate">
                                      <div class="content_inner" *ngFor="let newsdetail of newsupdatelist">
                                        <a  href="{{newsdetail.path}}" target="_blank">{{newsdetail.newstitle}}</a>
                                        <p>{{newsdetail.newscontent}}</p>
                                      </div>
                                  </div>
                              </div>
                              <div class="tab-pane px-0 container fade" id="tabconsumer">
                                  <!-- <marquee behavior="scroll" direction="up" class="h_410">
                                      <div id="divRss2"></div>                        
                                  </marquee> -->
                                  <div class="newsupdate">
                                    <div class="content_inner" *ngFor="let newsdetail of newsupdatelistconsumer">
                                      <a  href="{{newsdetail.path}}" target="_blank">{{newsdetail.newstitle}}</a>
                                      <p>{{newsdetail.newscontent}}</p>
                                    </div>
                                </div>
                              </div>
                              <div class="tab-pane px-0 container fade" id="tabfood">
                                  <!-- <marquee behavior="scroll" direction="up" class="h_410">
                                      <div id="divRss3"></div>                        
                                  </marquee> -->
                                  <div class="newsupdate">
                                    <div class="content_inner" *ngFor="let newsdetail of newsupdatelistfood">
                                      <a  href="{{newsdetail.path}}" target="_blank">{{newsdetail.newstitle}}</a>
                                      <p>{{newsdetail.newscontent}}</p>
                                    </div>
                                </div>
                              </div>
                              <div class="tab-pane px-0 container fade" id="tabdrug">
                                  <!-- <marquee behavior="scroll" direction="up" class="h_410">
                                      <div id="divRss4"></div>
                                  </marquee> -->
                                  <div class="newsupdate">
                                    <div class="content_inner" *ngFor="let newsdetail of newsupdatelistdrug">
                                      <a  href="{{newsdetail.path}}" target="_blank">{{newsdetail.newstitle}}</a>
                                      <p>{{newsdetail.newscontent}}</p>
                                    </div>
                                </div>
                              </div>
                        
                            </div>
                          </div>
                      </div>
              </div>
          </div>
       </div>
      </div>
    </div>
    <div class="modal fade" id="addproduct">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" >Add Product</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <select  class="custom-select mb-3" id="proselect"  (change)="myFunction($event.target.value)">
                  <option selected>Select Product</option>
                  <option  value="{{cat.id}}" ([ngModel])="categoryid" *ngFor="let cat of category">{{cat.category}}</option>
                  <!-- <option  value="Consumer">Consumer Products</option>
                  <option  value="food">Food</option>
                  <option  value="drugs">Drugs</option> -->
                </select> 
             <div id="motoform" [hidden]="motorhidden">
                  <div class="form-group">
                    <label for="Manufacturer">Product Name : </label>
                    <input [(ngModel)]="productname" class="form-control" type="text" class="form-control">
                  </div>
                  <div class="form-group">
                      <label for="Manufacturer">Reference No : </label>
                      <input [(ngModel)]="referenceno" class="form-control" type="text" class="form-control">
                  </div>
                  <div class="form-group">
                      <label for="Date of Purchase">Date of Purchase : </label>
                      <input [(ngModel)]="dateofpurchase" class="form-control" type="date" class="form-control"> 
                  </div>
                  <div class="form-group">
                    <label for="Manufacturer">Manufacturer : </label>
                    <textarea [(ngModel)]="Manufacturer" class="form-control" rows="1"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="Vehicle Model Name">Vehicle Model Name : </label>
                    <textarea [(ngModel)]="vehiclemodelname" class="form-control" rows="1"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="Model name">Model name : </label>
                    <textarea [(ngModel)]="modelname" class="form-control" rows="1" ></textarea>
                  </div>
                  <div class="form-group">
                    <label for="Model year">Model year : </label>
                    
                    <input type="date" [(ngModel)]="modelyear" class="form-control" rows="1" >
                  </div>
                  <div class="form-group">
                    <label for="VIN (Vehicle Identification Number)">VIN (Vehicle Identification Number) : </label>
                    <textarea [(ngModel)]="vinfrom" class="form-control" rows="1" ></textarea>
                  </div>
                  <!-- <div class="form-group">
                      <label for="VIN (Vehicle Identification Number)">VIN To (Vehicle Identification Number) : </label>
                      <textarea [(ngModel)]="vinto" class="form-control" rows="1" ></textarea>
                    </div> -->
                  <div class="form-group">
                    <label for="Retailer Name">Retailer Name : </label>
                    <textarea [(ngModel)]="retailername"  class="form-control" rows="1"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="Payment Mode">Payment Mode : </label>
                    <textarea [(ngModel)]="paymentmode" class="form-control" rows="1"></textarea>
                  </div>
                  <div class="form-group">
                      <label for="Payment Mode">Payment : </label>
                      <textarea [(ngModel)]="payment" class="form-control" rows="1"></textarea>
                  </div>
                  <!-- <div class="form-group">
                    <label for="create type">createtype : </label>
                    <textarea [(ngModel)]="createtype"  class="form-control" rows="1"></textarea>
                  </div> -->
          </div>
          <div id="conform" [hidden]="consumerhidden">
              <div class="form-group">
                  <label for="Manufacturer">Product Name : </label>
                  <input [(ngModel)]="productname" class="form-control" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="Manufacturer">Reference No : </label>
                    <input [(ngModel)]="referenceno" class="form-control" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="Date of Purchase">Date of Purchase : </label>
                    <input [(ngModel)]="dateofpurchase" class="form-control" type="date" class="form-control"> 
                </div>
                <div class="form-group">
                  <label for="Manufacturer">Manufacturer : </label>
                  <textarea [(ngModel)]="Manufacturer" class="form-control" rows="1"></textarea>
                </div>
                <div class="form-group">
                    <label for="Retailer Name">Retailer Name : </label>
                    <textarea [(ngModel)]="retailername"  class="form-control" rows="1"></textarea>
                </div>

                <div class="form-group">
                    <label for="Retailer Location">Retailer Location : </label>
                    <input [(ngModel)]="retailerlocation" class="form-control" type="text" class="form-control"> 
                  </div>
                  <div class="form-group">
                    <label for="Manufacturer date">Manufacturer date : </label>
                    <input [(ngModel)]="manufacturerdate" class="form-control" type="date" class="form-control"> 
                  </div>
                  <div class="form-group">
                    <label for="Date of expiry">Date of expiry : </label>
                    <input [(ngModel)]="dateofexpiry" class="form-control" type="date" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="Notes">Notes : </label>
                    <textarea [(ngModel)]="notes" class="form-control" rows="1"></textarea>                   
                  </div>
                <div class="form-group">
                    <label for="Payment Mode">Payment Mode : </label>
                    <textarea [(ngModel)]="paymentmode" class="form-control" rows="1"></textarea>
                  </div>
                  <div class="form-group">
                      <label for="Payment Mode">Payment : </label>
                      <textarea [(ngModel)]="payment" class="form-control" rows="1"></textarea>
                  </div>
          </div>

          <div id="conform" [hidden]="foodhidden">
            <div class="form-group">
                <label for="Manufacturer">Product Name : </label>
                <input [(ngModel)]="productname" class="form-control" type="text" class="form-control">
              </div>
              <div class="form-group">
                  <label for="Manufacturer">Reference No : </label>
                  <input [(ngModel)]="referenceno" class="form-control" type="text" class="form-control">
              </div>
              <div class="form-group">
                  <label for="Date of Purchase">Date of Purchase : </label>
                  <input [(ngModel)]="dateofpurchase" class="form-control" type="date" class="form-control"> 
              </div>
              <div class="form-group">
                <label for="Manufacturer">Manufacturer : </label>
                <textarea [(ngModel)]="Manufacturer" class="form-control" rows="1"></textarea>
              </div>
              <div class="form-group">
                  <label for="Retailer Name">Retailer Name : </label>
                  <textarea [(ngModel)]="retailername"  class="form-control" rows="1"></textarea>
              </div>

              <div class="form-group">
                  <label for="Retailer Location">Retailer Location : </label>
                  <input [(ngModel)]="retailerlocation" class="form-control" type="text" class="form-control"> 
                </div>
                <div class="form-group">
                  <label for="Manufacturer date">Manufacturer date : </label>
                  <input [(ngModel)]="manufacturerdate" class="form-control" type="date" class="form-control"> 
                </div>
                <div class="form-group">
                  <label for="Date of expiry">Date of expiry : </label>
                  <input [(ngModel)]="dateofexpiry" class="form-control" type="date" class="form-control">
                </div>
                <div class="form-group">
                  <label for="Notes">Notes : </label>
                  <textarea [(ngModel)]="notes" class="form-control" rows="1"></textarea>                   
                </div>
              <div class="form-group">
                  <label for="Payment Mode">Payment Mode : </label>
                  <textarea [(ngModel)]="paymentmode" class="form-control" rows="1"></textarea>
                </div>
                <div class="form-group">
                    <label for="Payment Mode">Payment : </label>
                    <textarea [(ngModel)]="payment" class="form-control" rows="1"></textarea>
                </div>
        </div>


        <div id="conform" [hidden]="drugshidden">
          <div class="form-group">
              <label for="Manufacturer">Product Name : </label>
              <input [(ngModel)]="productname" class="form-control" type="text" class="form-control">
            </div>
            
            <div class="form-group">
                <label for="Manufacturer">Reference No : </label>
                <input [(ngModel)]="referenceno" class="form-control" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="Date of Purchase">Date of Purchase : </label>
                <input [(ngModel)]="dateofpurchase" class="form-control" type="date" class="form-control"> 
            </div>
            <div class="form-group">
              <label for="Manufacturer">Manufacturer : </label>
              <textarea [(ngModel)]="Manufacturer" class="form-control" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="Retailer Name">Retailer Name : </label>
                <textarea [(ngModel)]="retailername"  class="form-control" rows="1"></textarea>
            </div>

            <div class="form-group">
                <label for="Retailer Location">Retailer Location : </label>
                <input [(ngModel)]="retailerlocation" class="form-control" type="text" class="form-control"> 
              </div>
              <div class="form-group">
                <label for="Manufacturer date">Manufacturer date : </label>
                <input [(ngModel)]="manufacturerdate" class="form-control" type="date" class="form-control"> 
              </div>
              <div class="form-group">
                <label for="Date of expiry">Date of expiry : </label>
                <input [(ngModel)]="dateofexpiry" class="form-control" type="date" class="form-control">
              </div>
              <div class="form-group">
                <label for="Notes">Notes : </label>
                <textarea [(ngModel)]="notes" class="form-control" rows="1"></textarea>                   
              </div>
            <div class="form-group">
                <label for="Payment Mode">Payment Mode : </label>
                <textarea [(ngModel)]="paymentmode" class="form-control" rows="1"></textarea>
              </div>
              <div class="form-group">
                  <label for="Payment Mode">Payment : </label>
                  <textarea [(ngModel)]="payment" class="form-control" rows="1"></textarea>
              </div>
      </div>









                <button  data-dismiss="modal" (click)="addproduct()"  class="btn btn-primary">Submit</button>
            </div>
    </div>
    </div>
    </div>
    
  

