
<body id="page-top">
  <div class="page-heading p-3">
      <div class="page-title">  
  <h3> Loyalty Points</h3>
        </div>

  </div>
  <div id="wrapper">

    <!-- Sidebar -->
    <div id="content-wrapper">
      <div class="container-fluid">
     <!-- Page Content -->
        <div class="row">
            <div class="col-md-9">


  <div class="row">
            <div class="col-sm-4 recallcards" *ngFor="let recallsatuts of recallcards" >
                <div class="recards">
                  <i class="material-icons {{recallsatuts.iconsclass}} iconsrecall"> {{recallsatuts.recallicon}}</i>
                  <h2 class="count">{{recallsatuts.recallcount}}</h2>
                  <p>{{recallsatuts.recalltitle}}</p>
                </div>
            </div>
</div>

<div class="table_main">
     <h1>Total 1800 Items</h1>
    <div class="table-responsive ">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8 datatable_points">
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef  mat-sort-header> S.No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>
          <ng-container matColumnDef="date" >
            <th mat-header-cell *matHeaderCellDef  mat-sort-header> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
          </ng-container>
          <ng-container matColumnDef="item">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Item </th>
            <td mat-cell *matCellDef="let element"> {{element.item}} </td>
          </ng-container>
          <ng-container matColumnDef="price" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
          </ng-container>
          <ng-container matColumnDef="points" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Points </th>
              <td mat-cell *matCellDef="let element"> {{element.points}} </td>
            </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
</div>


</div>

<div class="col-md-3">
  <div class="card">
      <div class="card-body p-0 ra-ticker">
<ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#tabvehicle">
          <i class="fa fa-car"></i>
          <span>Vehicle</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tabconsumer">
              <i class="fa fa-shopping-cart"></i>
              <span>Consumer</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tabfood">
              <i class="fa fa-cheese"></i>
              <span>Food</span>
        </a>
      </li> 
       <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tabdrug">
              <i class="fa fa-pills"></i>
              <span>Drug</span>
        </a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane px-0 container active" id="tabvehicle">
          <!-- <marquee behavior="scroll" direction="up" class="h_410">
              <div id="divRss1"></div>                        
          </marquee> -->
          <div class="newsupdate">
              <div class="content_inner" *ngFor="let newsdetail of newsupdatelist">
                <a href="{{newsdetail.path}}" target="_blank">{{newsdetail.newstitle}}</a>
                <p>{{newsdetail.newscontent}}</p>
              </div>
          </div>
      </div>
      <div class="tab-pane px-0 container fade" id="tabconsumer">
          <!-- <marquee behavior="scroll" direction="up" class="h_410">
              <div id="divRss2"></div>                        
          </marquee> -->
          <div class="newsupdate">
            <div class="content_inner" *ngFor="let newsdetail of newsupdatelistconsumer">
              <a href="{{newsdetail.path}}" target="_blank">{{newsdetail.newstitle}}</a>
              <p>{{newsdetail.newscontent}}</p>
            </div>
        </div>
      </div>
      <div class="tab-pane px-0 container fade" id="tabfood">
          <!-- <marquee behavior="scroll" direction="up" class="h_410">
              <div id="divRss3"></div>                        
          </marquee> -->
          <div class="newsupdate">
            <div class="content_inner" *ngFor="let newsdetail of newsupdatelistfood">
              <a href="{{newsdetail.path}}" target="_blank">{{newsdetail.newstitle}}</a>
              <p>{{newsdetail.newscontent}}</p>
            </div>
        </div>
      </div>
      <div class="tab-pane px-0 container fade" id="tabdrug">
          <!-- <marquee behavior="scroll" direction="up" class="h_410">
              <div id="divRss4"></div>
          </marquee> -->
          <div class="newsupdate">
            <div class="content_inner" *ngFor="let newsdetail of newsupdatelistdrug">
              <a href="{{newsdetail.path}}" target="_blank">{{newsdetail.newstitle}}</a>
              <p>{{newsdetail.newscontent}}</p>
            </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>

</div>
</div>
</div>
</div>
</body>



