
<div class="modal fade" id="addproduct">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" >Add Product</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <select  class="custom-select mb-3" id="proselect"  (change)="myFunction($event.target.value)">
              <option selected>Select Product</option>
              <option  value="{{cat.id}}" ([ngModel])="categoryid" *ngFor="let cat of category">{{cat.category}}</option>
              <!-- <option  value="Consumer">Consumer Products</option>
              <option  value="food">Food</option>
              <option  value="drugs">Drugs</option> -->
            </select> 
         <div id="motoform" [hidden]="motorhidden">
              <div class="form-group">
                <label for="Manufacturer">Product Name : </label>
                <input [(ngModel)]="productname" class="form-control" type="text" class="form-control">
              </div>
              <div class="form-group">
                  <label for="Manufacturer">Reference No : </label>
                  <input [(ngModel)]="referenceno" class="form-control" type="text" class="form-control">
              </div>
              <div class="form-group">
                  <label for="Date of Purchase">Date of Purchase : </label>
                  <input [(ngModel)]="dateofpurchase" class="form-control" type="date" class="form-control"> 
              </div>
              <div class="form-group">
                <label for="Manufacturer">Manufacturer : </label>
                <textarea [(ngModel)]="Manufacturer" class="form-control" rows="1"></textarea>
              </div>
              <div class="form-group">
                <label for="Vehicle Model Name">Vehicle Model Name : </label>
                <textarea [(ngModel)]="vehiclemodelname" class="form-control" rows="1"></textarea>
              </div>
              <div class="form-group">
                <label for="Model name">Model name : </label>
                <textarea [(ngModel)]="modelname" class="form-control" rows="1" ></textarea>
              </div>
              <div class="form-group">
                <label for="Model year">Model year : </label>
                
                <input type="date" [(ngModel)]="modelyear" class="form-control" rows="1" >
              </div>
              <div class="form-group">
                <label for="VIN (Vehicle Identification Number)">VIN (Vehicle Identification Number) : </label>
                <textarea [(ngModel)]="vinfrom" class="form-control" rows="1" ></textarea>
              </div>
              <div class="form-group">
                  <label for="VIN (Vehicle Identification Number)">VIN To (Vehicle Identification Number) : </label>
                  <textarea [(ngModel)]="vinto" class="form-control" rows="1" ></textarea>
                </div>
              <div class="form-group">
                <label for="Retailer Name">Retailer Name : </label>
                <textarea [(ngModel)]="retailername"  class="form-control" rows="1"></textarea>
              </div>
              <div class="form-group">
                <label for="Payment Mode">Payment Mode : </label>
                <textarea [(ngModel)]="paymentmode" class="form-control" rows="1"></textarea>
              </div>
              <div class="form-group">
                  <label for="Payment Mode">Payment : </label>
                  <textarea [(ngModel)]="payment" class="form-control" rows="1"></textarea>
              </div>
              <!-- <div class="form-group">
                <label for="create type">createtype : </label>
                <textarea [(ngModel)]="createtype"  class="form-control" rows="1"></textarea>
              </div> -->
      </div>
      <div id="conform" [hidden]="consumerhidden">
          <div class="form-group">
              <label for="Manufacturer">Product Name : </label>
              <input [(ngModel)]="productname" class="form-control" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="Manufacturer">Reference No : </label>
                <input [(ngModel)]="referenceno" class="form-control" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="Date of Purchase">Date of Purchase : </label>
                <input [(ngModel)]="dateofpurchase" class="form-control" type="date" class="form-control"> 
            </div>
            <div class="form-group">
              <label for="Manufacturer">Manufacturer : </label>
              <textarea [(ngModel)]="Manufacturer" class="form-control" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="Retailer Name">Retailer Name : </label>
                <textarea [(ngModel)]="retailername"  class="form-control" rows="1"></textarea>
            </div>

            <div class="form-group">
                <label for="Retailer Location">Retailer Location : </label>
                <input [(ngModel)]="retailerlocation" class="form-control" type="text" class="form-control"> 
              </div>
              <div class="form-group">
                <label for="Manufacturer date">Manufacturer date : </label>
                <input [(ngModel)]="manufacturerdate" class="form-control" type="date" class="form-control"> 
              </div>
              <div class="form-group">
                <label for="Date of expiry">Date of expiry : </label>
                <input [(ngModel)]="dateofexpiry" class="form-control" type="date" class="form-control">
              </div>
              <div class="form-group">
                <label for="Notes">Notes : </label>
                <textarea [(ngModel)]="notes" class="form-control" rows="1"></textarea>                   
              </div>
            <div class="form-group">
                <label for="Payment Mode">Payment Mode : </label>
                <textarea [(ngModel)]="paymentmode" class="form-control" rows="1"></textarea>
              </div>
              <div class="form-group">
                  <label for="Payment Mode">Payment : </label>
                  <textarea [(ngModel)]="payment" class="form-control" rows="1"></textarea>
              </div>
      </div>

      <!-- <div id="conform" [hidden]="foodhidden">
        <div class="form-group">
            <label for="Manufacturer">Product Name : </label>
            <input [(ngModel)]="productname" class="form-control" type="text" class="form-control">
          </div>
          <div class="form-group">
              <label for="Manufacturer">Reference No : </label>
              <input [(ngModel)]="referenceno" class="form-control" type="text" class="form-control">
          </div>
          <div class="form-group">
              <label for="Date of Purchase">Date of Purchase : </label>
              <input [(ngModel)]="dateofpurchase" class="form-control" type="date" class="form-control"> 
          </div>
          <div class="form-group">
            <label for="Manufacturer">Manufacturer : </label>
            <textarea [(ngModel)]="Manufacturer" class="form-control" rows="1"></textarea>
          </div>
          <div class="form-group">
              <label for="Retailer Name">Retailer Name : </label>
              <textarea [(ngModel)]="retailername"  class="form-control" rows="1"></textarea>
          </div>

          <div class="form-group">
              <label for="Retailer Location">Retailer Location : </label>
              <input [(ngModel)]="retailerlocation" class="form-control" type="text" class="form-control"> 
            </div>
            <div class="form-group">
              <label for="Manufacturer date">Manufacturer date : </label>
              <input [(ngModel)]="manufacturerdate" class="form-control" type="date" class="form-control"> 
            </div>
            <div class="form-group">
              <label for="Date of expiry">Date of expiry : </label>
              <input [(ngModel)]="dateofexpiry" class="form-control" type="date" class="form-control">
            </div>
            <div class="form-group">
              <label for="Notes">Notes : </label>
              <textarea [(ngModel)]="notes" class="form-control" rows="1"></textarea>                   
            </div>
          <div class="form-group">
              <label for="Payment Mode">Payment Mode : </label>
              <textarea [(ngModel)]="paymentmode" class="form-control" rows="1"></textarea>
            </div>
            <div class="form-group">
                <label for="Payment Mode">Payment : </label>
                <textarea [(ngModel)]="payment" class="form-control" rows="1"></textarea>
            </div>
    </div>


    <div id="conform" [hidden]="drugshidden">
      <div class="form-group">
          <label for="Manufacturer">Product Name : </label>
          <input [(ngModel)]="productname" class="form-control" type="text" class="form-control">
        </div>
        
        <div class="form-group">
            <label for="Manufacturer">Reference No : </label>
            <input [(ngModel)]="referenceno" class="form-control" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="Date of Purchase">Date of Purchase : </label>
            <input [(ngModel)]="dateofpurchase" class="form-control" type="date" class="form-control"> 
        </div>
        <div class="form-group">
          <label for="Manufacturer">Manufacturer : </label>
          <textarea [(ngModel)]="Manufacturer" class="form-control" rows="1"></textarea>
        </div>
        <div class="form-group">
            <label for="Retailer Name">Retailer Name : </label>
            <textarea [(ngModel)]="retailername"  class="form-control" rows="1"></textarea>
        </div>

        <div class="form-group">
            <label for="Retailer Location">Retailer Location : </label>
            <input [(ngModel)]="retailerlocation" class="form-control" type="text" class="form-control"> 
          </div>
          <div class="form-group">
            <label for="Manufacturer date">Manufacturer date : </label>
            <input [(ngModel)]="manufacturerdate" class="form-control" type="date" class="form-control"> 
          </div>
          <div class="form-group">
            <label for="Date of expiry">Date of expiry : </label>
            <input [(ngModel)]="dateofexpiry" class="form-control" type="date" class="form-control">
          </div>
          <div class="form-group">
            <label for="Notes">Notes : </label>
            <textarea [(ngModel)]="notes" class="form-control" rows="1"></textarea>                   
          </div>
        <div class="form-group">
            <label for="Payment Mode">Payment Mode : </label>
            <textarea [(ngModel)]="paymentmode" class="form-control" rows="1"></textarea>
          </div>
          <div class="form-group">
              <label for="Payment Mode">Payment : </label>
              <textarea [(ngModel)]="payment" class="form-control" rows="1"></textarea>
          </div>
  </div> -->









            <button  data-dismiss="modal" (click)="addproduct()"  class="btn btn-primary">Submit</button>
        </div>
</div>
</div>
</div>




<div id="wrapper">

    <ul class="sidebar navbar-nav">
        <li class="nav-item">
            <a class="nav-link nav-logo" routerLink="/manufuctrermanage-product">
             <img src="assets/image/{{manulogo}}"  alt="Ford" class="img-fluid" />
              </a>
        </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="/manufacturerdashboard">
                  <i class="fas fa-fw fa-tachometer-alt"></i>
                  <span>Dashboard</span>
                </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/recall">
                    <i class="fas fa-fw fa-history "></i>
                    <span>Recalls</span>
                  </a>
                </li>
              <li class="nav-item">
                      <a class="nav-link" routerLink="/manufuctrermanage-product">
                        <i class="fas fa-fw fa-boxes"></i>
                        <span>Products</span>
                      </a>
                    </li>
                        <li class="nav-item">
                              <a class="nav-link" routerLink="/sale">
                                <i class="fas fa-fw fa-user-check"></i>
                                <span>Sales</span>
                              </a>
                            </li>
                            <li class="nav-item">
                                  <a class="nav-link" routerLink="/manageretailer">
                                    <i class="fas fa-fw fa-users"></i>
                                    <span>Customers</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                      <a class="nav-link" routerLink="/viewcomplaint">
                                        <i class="fas fa-fw fa-envelope-open-text"></i>
                                        <span>Complaints</span>
                                      </a>
                                    </li>
                                    <li class="nav-item">
                                          <a class="nav-link" routerLink="/reports">
                                            <i class="fas fa-fw fa-file-alt"></i>
                                            <span>Reports</span>
                                          </a>
                                        </li>
              <li class="nav-item">
                      <a class="nav-link" routerLink="/manufucturer-settings">
                  <i class="fas fa-fw fa-cog"></i>
                  <span>Settings</span>
                </a>
              </li>     
    </ul>



  <div id="content-wrapper"  class="p_l_226">

      <div class="page-heading p-3">
          <div class="page-title">  
        <h3>Products</h3>
            </div>
            <div class="page-controls">
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                 Add Products
                 </button>
                 <div class="dropdown-menu">
                   <a class="dropdown-item" data-toggle="modal" data-target="#addproduct">New</a>
                   <a class="dropdown-item" href="#">Bulk Import</a>
                 </div>
         </div>
        <div class="clear-fix"></div>
        
        </div>
        

        
    <div class="container-fluid">

    <div class="row">
      <div class="col-md-3">
      
        <div class="card">
          <div class="card-header text-muted">
            Year
          </div>
        <div class="card-body">
            <div class="custom-checkbox px-5">
              <div>
                      <input type="checkbox" class="custom-control-input" id="2019" value="1">
                      <label class="custom-control-label" for="2019">2019</label>
                    </div>
                    <div>
                        <input type="checkbox" class="custom-control-input" id="2018" value="1">
                        <label class="custom-control-label" for="2018">2018</label>
                      </div>
                      <div>
                          <input type="checkbox" class="custom-control-input" id="2017" value="1">
                          <label class="custom-control-label" for="2017">2017</label>
                        </div>
                        <div>
                            <input type="checkbox" class="custom-control-input" id="2016" value="1">
                            <label class="custom-control-label" for="2016">2016</label>
                          </div>
                      </div>
            
        </div>
      </div>
      <div class="card">
        <div class="card-header text-muted">
          Variant
        </div>
      <div class="card-body">
          <div class="custom-checkbox px-5">
              <div>
                      <input type="checkbox" class="custom-control-input" id="Wagon" value="1">
                      <label class="custom-control-label" for="Wagon">Wagon</label>
                    </div>
                    <div>
                        <input type="checkbox" class="custom-control-input" id="Sedan" value="1">
                        <label class="custom-control-label" for="Sedan">Sedan</label>
                      </div>
                      <div>
                          <input type="checkbox" class="custom-control-input" id="Hatchback" value="1">
                          <label class="custom-control-label" for="Hatchback">Hatchback</label>
                        </div>
                        <div>
                            <input type="checkbox" class="custom-control-input" id="SUV" value="1">
                            <label class="custom-control-label" for="SUV">SUV</label>
                          </div>
                          <div>
                              <input type="checkbox" class="custom-control-input" id="Van" value="1">
                              <label class="custom-control-label" for="Van">Van/Mini Van</label>
                            </div>
                            <div>
                                <input type="checkbox" class="custom-control-input" id="pickup" value="1">
                                <label class="custom-control-label" for="pickup">Pickup</label>
                              </div>
                              <div>
                                  <input type="checkbox" class="custom-control-input" id="coupe" value="1">
                                  <label class="custom-control-label" for="coupe">Coupe Convertible</label>
                                </div>
              </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header text-muted">
          Fuel Type
        </div>
      <div class="card-body">
          <div class="custom-checkbox px-5">
              <div>
                      <input type="checkbox" class="custom-control-input" id="petrol" value="1">
                      <label class="custom-control-label" for="petrol">Petrol</label>
                    </div>
                     <div>
                      <input type="checkbox" class="custom-control-input" id="Diesel" value="1">
                      <label class="custom-control-label" for="Diesel">Diesel</label>
                    </div>
                    </div>
      </div>
    </div>
      </div>


      <div class="col-md-9">
          <div class="card">
          <!-- <div class="row">
              <div class="col-md-12">
                  <div class="custom-checkbox filter-list float-right">
                    <span class="text-muted">Filters: </span>
                <ul>
                    <li>
                          <input type="checkbox" class="custom-control-input" id="veh" value="1" value="1" [(ngModel)]="vehicle" (change)="filter(vehicle?'vehicle':'0')" >
                          <label class="custom-control-label" for="veh">Vehicles</label>
                    </li>
                    <li>
                        <input type="checkbox" class="custom-control-input" [(ngModel)]="consumer"  (change)="filter(consumer?'Consumer':'0')" id="con" value="1">
                          <label class="custom-control-label" for="con">Consumer Products</label>
                        </li>
                        <li>
                        <input type="checkbox" [(ngModel)]="food" (change)="filter(food?'food':'0')" class="custom-control-input" id="food" value="1">
                          <label class="custom-control-label" for="food">Food</label>
                        </li>
                        <li>
                        <input type="checkbox" [(ngModel)]="drug" (change)="filter(drug?'drug':'0')" class="custom-control-input" id="drug" value="1">
                          <label class="custom-control-label" for="drug">Drugs</label>
                        </li>
                      </ul>
                    </div>
              </div>
            </div>
<hr/> -->
              <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                          <tr>
                            <th>Product Name</th>
                            <th>Reference No.</th>
                            <th>Date of Purchase</th>
                            <th>Retailer</th>
                            <th>Amount</th>
                            <th>Action</th>
                          </tr>
                      </thead>
                        <tfoot>
                          <tr>
                              <th>Product Name</th>
                              <th>Reference No.</th>
                              <th>Date of Purchase</th>
                              <th>Retailer</th>
                              <th>Amount</th>
                            <th>Action</th>
                          </tr>
                        </tfoot>
                        <tbody>
<tr *ngFor="let addedpro of productlist;let i=index" [attr.data-index]="i">
    <td>
    <span *ngIf="i!=updtadeProduct  || editproshow==false">{{addedpro.productname}}</span> 
    <span *ngIf="i==updtadeProduct && editproshow==true"><input   [(ngModel)]="addedpro.productname" class="form-control" type="text" class="form-control"></span> 
    </td>
    <td>
    <span *ngIf="i!=updtadeProduct  || editproshow==false">{{addedpro.referenceno}}</span> 
    <span *ngIf="i==updtadeProduct && editproshow==true"><input [(ngModel)]="addedpro.referenceno"   class="form-control" type="text" class="form-control"></span> 
  </td>
    <td>
      <span *ngIf="i!=updtadeProduct  || editproshow==false">{{addedpro.dateofpurchase | date:"dd/MM/yyyy"}}</span> 
      <span *ngIf="i==updtadeProduct && editproshow==true"><input [(ngModel)]="addedpro.purchasedate"  class="form-control" type="text" class="form-control"></span>                                          
    </td>
    <td>
        <span *ngIf="i!=updtadeProduct  || editproshow==false">{{addedpro.retailername }}</span> 
        <span *ngIf="i==updtadeProduct && editproshow==true"><input  [(ngModel)]="addedpro.retailname" class="form-control" type="text" class="form-control"></span> 
      </td>
    <td>
      <span *ngIf="i!=updtadeProduct  || editproshow==false">{{addedpro.amount}}</span> 
      <span  *ngIf="i==updtadeProduct && editproshow==true"><input [(ngModel)]="addedpro.payment"  class="form-control" type="text" class="form-control"></span> 
    </td>
    <td>
        <span *ngIf="i!=updtadeProduct || editproshow==false">
            <a (click)="editproduct(i)" class="btn btn-sm btn-mrgrt btn-outline-primary">Edit</a> 
            <a (click)="deleteproduct(i)" class="btn btn-sm btn-outline-danger">Delete</a>
        </span>               
        <span *ngIf="i==updtadeProduct && editproshow==true">
            <a (click)="saveProduct(i,addedpro.productname,addedpro.referenceno,addedpro.purchasedate,addedpro.payment,addedpro.retailname)" class="btn btn-sm btn-mrgrt btn-outline-primary">Save</a> 
        </span>               
    </td>
</tr>
                        </tbody>
                      </table>
                </div>

            </div>
      </div>





      <!-- <div class="col-md-9">
          <div class="card">
              <table class="table card-table table-vcenter">
                <thead>
                  <tr>
                    <th>Model Name</th>
                    <th>Version</th>
                    <th>Year</th>
                    <th>Variant</th>
                    <th>Fuel Type</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>C-MAX Energi</td>
                    <td>&nbsp;</td>
                    <td>2014</td>
                    <td>Wagon</td>
                    <td>&nbsp;</td>
                    <td>
                      <button type="button" class="btn btn-info btn-sm m_r_10">Edit</button>
                      <button type="button" class="btn btn-danger btn-sm">Delete</button>
                    </td>
                  </tr>
                  
                </tbody>
                </table>
                
            </div>
      </div> -->
    </div>

    </div>
    

  </div>
</div>



















<!--  
<div class="container">
    <div class="row  title_main">
      <div class="col-md-10">
          <h3 class="page_title p_l_0"><i class="material-icons">dashboard </i>  Manage Product</h3>
      </div>
    </div>
<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
        <ng-container matColumnDef="productName">
          <th mat-header-cell *matHeaderCellDef>Product Name </th>
          <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
        </ng-container>
        <ng-container matColumnDef="productheader">
          <th mat-header-cell *matHeaderCellDef> Product Description </th>
          <td mat-cell *matCellDef="let element"> {{element.productheader}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td class="cur_point" mat-cell *matCellDef="let element"> 
            <i class="material-icons" (click)="viewcomplaintClick()" >
              list_alt
              </i> 
            <i class="material-icons" (click)="editit()" >
              edit
            </i>
            <i class="material-icons" (click)="deleteit(element)">
              delete
            </i> 
            <i class="material-icons" routerLink="/{{element.path}}" >add_circle</i>
            <i class="material-icons" (click)="justview()">
                remove_red_eye
          </i>     
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="selection.toggle(row)">
        </tr>
      </table>
</div>
 </div>    -->