.title_main{
    h2{
        margin-top: 30px;
        margin-bottom: 30px;
    }

}
.title_icon{
    
        align-self: center;

}
.mat_ic{
    float: right;
    position: relative;
    bottom: 8px;
}
.card-footer{
    i{
        top: 6px;
        position: relative;
    } 
}
.card_footicon{
    top: 6px;
    position: relative;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .btn-static{
    color: #fff;
    background-color: #00a0ff;
    border-color: #00a0ff;
  }
  
  .pro_modal2{
    text-transform: capitalize;
    font-size: 14px;
  }
  .pd_15{
    padding-bottom: 15px;
    p{
      padding-bottom: 8px;
    }
  }
  table {
    width: 100%;
  }
  .cur_point{
    i{
      cursor: pointer;
      padding-left: 5px;
    }
  }
  .bg-rablue {
    background-color: #e9ecef !important;
}