


<div class="container">
<div class="log_card p_10_20">
  
  <div class="row " >
    <div class="col-sm-12">

    <h1 class="text-center login_title">Register</h1>
    </div>
    <div class="col-sm-6 p_0">


            <div>
                <mat-form-field class="col-sm-12">
                    <input matInput placeholder="Enter your Company Name">
                  </mat-form-field>
            </div>
            <div>
                <mat-form-field class="col-sm-12">
                    <input matInput placeholder="Address1 ">
                  </mat-form-field>
            </div>
            <div>
                <mat-form-field class="col-sm-12">
                    <input matInput placeholder="Current Address" >
                  </mat-form-field>
            </div>
            <div>
                <mat-form-field class="col-sm-12">
                    <input matInput placeholder="Permanent Address" >
                  </mat-form-field>
            </div>          
      

          <div>
            <mat-form-field class="col-sm-12">
                <input matInput placeholder="State" >
              </mat-form-field>
        </div>  

        <div>
          <mat-form-field class="col-sm-12">
              <input matInput placeholder="City" >
            </mat-form-field>
      </div>  
      <div>
          <mat-form-field class="col-sm-12">
              <input matInput placeholder="Country" >
            </mat-form-field>
      </div>  

    </div>
    <div class="col-sm-6 p_0">
          
        <div >

 

      <div>
        <mat-form-field class="col-sm-12">
            <input matInput placeholder="Zipcode" >
          </mat-form-field>
    </div>  

<div>
  <mat-form-field class="col-sm-12">
      <input matInput placeholder="Phone" >
    </mat-form-field>
</div>  
<div>
<mat-form-field class="col-sm-12">
    <input matInput placeholder="Fax" >
  </mat-form-field>
</div>  

<div>
<mat-form-field class="col-sm-12">
    <input matInput placeholder="Email" >
  </mat-form-field>
</div>  
<div>
<mat-form-field class="col-sm-12">
  <input matInput placeholder="Website" >
</mat-form-field>
</div>  
<div>
<mat-form-field class="col-sm-12">
    <input matInput placeholder="Contact Person" >
  </mat-form-field>
</div>  
<div>
<mat-form-field class="col-sm-12">
  <input matInput placeholder="Mobile" >
</mat-form-field>
</div>  
</div>
</div>          

<div class="row">
<div class="col-sm-6">
  <div class="agree_content_supplier">
    <mat-checkbox>I agree terms & conditions</mat-checkbox>
   </div>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12 " style="text-align: right;">
  <button mat-flat-button  class="log_btn sign_btn">Save</button>
</div>
</div>

<div class="row">
<div class="col-sm-6">
  <div class="haveaccount_supplier">
    Already I have an account? <span class="themecolor" (click)="loginClick()">Signup</span> 
  </div>
</div>
</div>

</div>
</div>