

<div class="container">
  <div class="row">
      <div class="col col-md-4 mx-auto my-4">
        <!-- <form class="card p-2" action="index.htm"> -->
          <div class="card">
              <div class="text-center mt-4">
                  <img src="assets/image/{{logo}}" alt="">
                 <h4 class="mt-2 text-muted"> Customer Login</h4>
                </div>
            <div class="card-body py-0">
              <div class="form-group">
                <label class="form-label">Email address</label>
                <input [(ngModel)]="emailid" type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label class="form-label">
                  Password
                </label>
                <input [(ngModel)]="pass" type="password" class="form-control" placeholder="Password">
              </div>
              <div class="form-group">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" />
                  <span class="custom-control-label">Remember me</span>
                </label>
                
              </div>
              <div class="form-footer">
                <button type="submit" (click)="login()" class="btn btn-primary btn-block">Sign in</button>
              </div>
  
              <div class=" text-muted py-2">
                  New User <span style="color: #00305d;cursor: pointer;" (click)="registerClick()">Sign up</span>
                  <a class="float-right">Forgot password?</a>
                </div>
                <div class=" text-muted" style="padding-bottom: 10px">
                    Manufacturer <span style="color: #00305d;cursor: pointer;" (click)="manufacturerregisterClick()">Sign up</span>
                    <!-- <a  class="float-right">Forgot password?</a> -->
                  </div>
            </div>
        
          </div>

        <!-- </form> -->
      
      </div>
    </div>
</div>