
<div>


    <div class="container">
        <h3 class="inner_page_title"><i class="material-icons">dashboard </i>Recall</h3>
      <div class="row">
                <div class="col-sm-4 recallcards" *ngFor="let recallsatuts of recallcards" >
                    <div class="recards">
                      <i class="material-icons {{recallsatuts.iconsclass}} iconsrecall"> {{recallsatuts.recallicon}}</i>
                      <h2 class="count">{{recallsatuts.recallcount}}</h2>
                      <p>{{recallsatuts.recalltitle}}</p>
                    </div>
                </div>
    </div>
    
    <div class="table_main">
         <h1>Create Recall</h1>

         <form [formGroup]="addrecallform">
           <div class="row">
               <div class="col-sm-6">
                  <mat-form-field class="col-sm-12">
                      <input matInput placeholder="Recall No" formControlName="recallno" >
                    </mat-form-field>
               </div>
               <div class="col-sm-6">
                  <mat-form-field class="col-sm-12">
                      <input matInput placeholder="Product Name" formControlName="productname">
                  </mat-form-field>
               </div>
           </div>
           <div class="row">
              <div class="col-sm-6">
                  <mat-form-field class="col-sm-12">
                      <input matInput formControlName="recalldate" [matDatepicker]="picker" class="col-sm-12" placeholder="Recall Date">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
              </div>
              <div class="col-sm-6">
                  <mat-form-field class="col-sm-12">
                      <textarea formControlName="summary" matInput placeholder="Summary"></textarea>
                    </mat-form-field>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-6">
                  <mat-form-field class="col-sm-12">
                      <input formControlName="reason" matInput placeholder="Reason/Hazard" >
                    </mat-form-field>
               </div>
               <div class="col-sm-6">
                  <mat-form-field class="col-sm-12">
                      <input formControlName="remedy" matInput placeholder="Remedy">
                  </mat-form-field>
               </div>
          </div> 
          <div class="row">
              <div class="col-sm-6">
                  <mat-form-field class="col-sm-12">
                      <input formControlName="units" matInput placeholder="Units" >
                    </mat-form-field>
               </div>
               <div class="col-sm-6">
                  <mat-form-field class="col-sm-12">
                      <input formControlName="productphotos" matInput placeholder="Product Photos">
                  </mat-form-field>
               </div>
          </div>
          <div class="row">
              <div class="col-sm-6">
                  <mat-form-field class="col-sm-12">
                      <input formControlName="consumercontact" matInput placeholder="Consumer Contact" >
                    </mat-form-field>
               </div>
               <div class="col-sm-6">
                  <mat-form-field class="col-sm-12">
                      <textarea formControlName="description" matInput placeholder="Description"></textarea>
                    </mat-form-field>
               </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
                <mat-form-field class="col-sm-12">
                    <input formControlName="injuries" matInput placeholder="Incident/Injuries" >
                  </mat-form-field>
             </div>
             <div class="col-sm-6">
                <mat-form-field class="col-sm-12">
                    <input formControlName="soldat" matInput placeholder="Sold at" >
                  </mat-form-field>
             </div>
       </div>
       <div class="row">
          <div class="col-sm-6">
              <mat-form-field class="col-sm-12">
                  <input formControlName="manufacturers" matInput placeholder="Manufacturer(s)" >
                </mat-form-field>
           </div>
           <div class="col-sm-6">
              <mat-form-field class="col-sm-12">
                  <input formControlName="importers" matInput placeholder="Importer(s)" >
                </mat-form-field>
           </div>
     </div> 
     <div class="row">
        <div class="col-sm-6">
            <mat-form-field class="col-sm-12">
                <input formControlName="distributors" matInput placeholder="Distributor(s)" >
              </mat-form-field>
         </div>
         <div class="col-sm-6">
            <mat-form-field class="col-sm-12">
                <input formControlName="manufacturedin" matInput placeholder="Manufactured In" >
              </mat-form-field>
         </div>
   </div>  
 
   <div class="row">
      <div class="col-sm-6">
          <mat-form-field class="col-sm-12">
              <input formControlName="notes" matInput placeholder="Notes" >
            </mat-form-field>
       </div>
       <div class="col-sm-6">
        <mat-form-field class="col-sm-12">
            <input formControlName="vin" matInput placeholder="VIN" >
          </mat-form-field>
     </div>
 </div>  
 
 <div class="row text-right">
    <div class="col-sm-12">
        <button type="button" [disabled]="addrecallform.invalid" class="btn btn-primary theme_btn_save" (click)="AddRecallClick()">
            <i class="material-icons">save</i> <span> Save</span> 
        </button>  
     </div>
</div> 
         </form>

    </div>
    
    </div>
    
    </div>
    
    