


<div id="wrapper">

        <ul class="sidebar navbar-nav">
            <li class="nav-item">
                <a class="nav-link nav-logo" routerLink="/manufuctrermanage-product">
                 <img src="assets/image/{{manulogo}}"  alt="Ford" class="img-fluid" />
                  </a>
            </li>
                  <li class="nav-item active">
                    <a class="nav-link" routerLink="/manufacturerdashboard">
                      <i class="fas fa-fw fa-tachometer-alt"></i>
                      <span>Dashboard</span>
                    </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" routerLink="/recall">
                        <i class="fas fa-fw fa-history "></i>
                        <span>Recalls</span>
                      </a>
                    </li>
                  <li class="nav-item">
                          <a class="nav-link" routerLink="/manufuctrermanage-product">
                            <i class="fas fa-fw fa-boxes"></i>
                            <span>Products</span>
                          </a>
                        </li>
                            <li class="nav-item">
                                  <a class="nav-link" routerLink="/sale">
                                    <i class="fas fa-fw fa-user-check"></i>
                                    <span>Sales</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                      <a class="nav-link" routerLink="/manageretailer">
                                        <i class="fas fa-fw fa-users"></i>
                                        <span>Customers</span>
                                      </a>
                                    </li>
                                    <li class="nav-item">
                                          <a class="nav-link" routerLink="/viewcomplaint">
                                            <i class="fas fa-fw fa-envelope-open-text"></i>
                                            <span>Complaints</span>
                                          </a>
                                        </li>
                                        <li class="nav-item">
                                              <a class="nav-link" routerLink="/reports">
                                                <i class="fas fa-fw fa-file-alt"></i>
                                                <span>Reports</span>
                                              </a>
                                            </li>
                  <li class="nav-item">
                          <a class="nav-link" routerLink="/manufucturer-settings">
                      <i class="fas fa-fw fa-cog"></i>
                      <span>Settings</span>
                    </a>
                  </li>     
        </ul>



  <div id="content-wrapper" class="p_l_226">
        <div class="page-heading p-3">
                <div class="page-title">  
            <h3>Dashboard</h3>
                  </div>
            
            </div>
            
            
 </div>

</div>