


<div class="container">
    <div class="row log_card">
        <div class="col-sm-7 p_0">
          <img src="assets/image/{{loginbg}}" class="img-fluid imgbg">
        </div>
        <div class="col-sm-5 p_0">
            <h1 class="text-center login_title">Login</h1>
              <div  class="login_rightcard">
                  <div>
                      <mat-form-field class="col-sm-12">
                          <input matInput [(ngModel)]="Email" placeholder="Enter your email">
                        </mat-form-field>
                  </div>
  
                  <div>
                        <mat-form-field class="col-sm-12">
                                <input [(ngModel)]="pass" matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                      <!-- <mat-form-field class="col-sm-12">
                          <input matInput [(ngModel)]="pass"   placeholder="Enter your password" >
                        </mat-form-field> -->
                  </div>
                  <p class="forgotpass">Forgot password?</p>
                 <div class="remberme">
                    <mat-checkbox>Remember Me</mat-checkbox>
                 </div>
                  <button mat-flat-button  class="log_btn sign_btn" (click)="logintohome(Email,pass)">LOGIN</button>
                  <div class="haveaccount">
                      Don't have an account? <span class="themecolor" (click)="registerClick()">Signup</span> 
                  </div>
              </div>          
        </div>
    </div>
  </div>