<nav class="navbar navbar-expand navbar-dark bg-rablue static-top top_menu"
 *ngIf="this.route!='/register'  && this.route!='/login' && this.route!='' && this.route!='/manufacturerregister'
 

&& this.route!='/manufacturerdashboard' &&  this.route!='/manufuctrermanage-product'
&& this.route!='/manageretailer' && this.route!='/message' && this.route!='/viewcomplaint'
&& this.route!='/addrecall' && this.route!='/recalllist' && this.route!='/addrecallmotor' 
 && this.route!='/supplier-register' && this.route!='/manufacturer-login' &&  this.route!='/subretailer'  &&  this.route!='/managemyrecall' 
 && this.route!='/register'  && this.route!='/login' && this.route!='/reports' && this.route!='/recall' && this.route!='/sale'
 && this.route!='/manufucturer-settings'
 


 ">
  <a class="navbar-brand" href="">
    <img src="assets/image/{{recalllogo}}" class="applogo">
  </a>
  <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navb">

   
    <ul class="navbar-nav ml-auto mr-0 main-links"> 
      <li class="nav-item"><a class="nav-link cusor_pointer" (click)="logintohome()">Home</a></li>
      <li class="nav-item"><a class="nav-link cusor_pointer" (click)="myrecallClick()">My Recall</a></li>
      <li class="nav-item"><a class="nav-link cusor_pointer" (click)="mypurchaseClick()">Purchases</a></li>
      <li class="nav-item"><a class="nav-link cusor_pointer" (click)="loyaltyClick()">Loyalty Card</a></li>
      <li class="nav-item"><a class="nav-link cusor_pointer" (click)="ReportaproblemClick()">Complaints</a></li>
    </ul>




    <!-- Navbar -->
    <ul class="navbar-nav ml-auto mr-0">
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <!-- <i class="fas fa-bell fa-fw"></i> -->
          <i class="material-icons"> notifications</i>
          <span class="badge badge-danger">9+</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
          <a class="dropdown-item" (click)="notificationClick()">Notification 1</a>
          <a class="dropdown-item" (click)="notificationClick()">Notification 2</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="notificationClick()">show more</a>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <!-- <i class="fas fa-user-circle fa-fw"></i> -->
           {{this.profilename.firstname}}
          <img src="assets/image/{{userprofile}}" class="userimg">
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" (click)="settingsClick()">Profile</a>
            <a class="dropdown-item" (click)="settingsClick()">Settings</a>
            <a class="dropdown-item" >Support</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logoutClick()">Logout</a>
        </div>
      </li>
    </ul>





    <!-- <div class="my-2 ml-auto mr-0">

        <span *ngIf="this.route!='/dashboard' && this.route!='/manage-product' && this.route!='/recall-web' 
        && this.route!='/recall-web'  && this.route!='/loyaltypoints' && this.route!='/notification'
        && this.route!='/report-aproblem'  && this.route!='/recall' && this.route!='/settings'
        && this.route!='/recall-status'
        ">
          <button mat-flat-button class="themecolor"  (click)="registerClick()">Register</button>
          <button mat-flat-button class="log_btn" (click)="loginClick()">Sign In</button>
        </span>



    </div> -->

  </div>

</nav>


<!-- ====================== Manufucturer Code  Start Here =================== -->


<nav class="navbar navbar-expand navbar-dark manufucturer_menu bg-grey static-top top_menu"
 *ngIf="this.route!='/register'  && this.route!='/login' && this.route!='' && this.route!='/manufacturerregister'
 && this.route!='/dashboard'  && this.route!='/manage-product'
 && this.route!='/recall-web' && this.route!='/loyaltypoints' && this.route!='/notification'
 && this.route!='/settings' && this.route!='/login' && this.route!='/register'
 && this.route!='/recall-status'  && this.route!='' && this.route!='/report-aproblem' && this.route!='/purchase'
 && this.route!='/recall-detail'
 ">

 
  <a class="navbar-brand" href="">
    <img src="assets/image/{{manulogo}}" class="applogo">
  </a>
  <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="false">
    <span class="navbar-toggler-icon"></span>
  </button>





<div class="navbar-collapse collapse" id="navb">






 <!-- <ul class="navbar-nav ml-auto mr-0 main-links"> 
  <li class="nav-item"><a class="nav-link cusor_pointer" (click)="manucfturerhome()">Dashboard</a></li>
  <li class="nav-item"><a class="nav-link cusor_pointer" (click)="recallClick()">Recalls</a></li>
  <li class="nav-item"><a class="nav-link cusor_pointer" (click)="manucfturermangeProductClick()">Product</a></li>
  <li class="nav-item"><a class="nav-link cusor_pointer" (click)="manucfturermangesaleClick()">Sales</a></li>
  <li class="nav-item"><a class="nav-link cusor_pointer" (click)="manageretailerClick()">Customers</a></li>
  <li class="nav-item"><a class="nav-link cusor_pointer" (click)="viewcomplaintClick()">Complaints</a></li>
  <li class="nav-item"><a class="nav-link cusor_pointer" (click)="reportClick()">Reports</a></li>
</ul> -->



    <!-- Navbar -->
    <ul class="navbar-nav ml-auto mr-0">
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="material-icons notification"> notifications</i>
          <span class="badge badge-danger">9+</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
          <a class="dropdown-item" (click)="notificationClick()">Notification 1</a>
          <a class="dropdown-item" (click)="notificationClick()">Notification 2</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="notificationClick()">show more</a>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="profileclr"> {{this.profilename.firstname}} </span>  
          <img src="assets/image/{{userprofile}}" class="userimg">
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" (click)="manusettingsClick()">Profile</a>
            <a class="dropdown-item" (click)="manusettingsClick()">Settings</a>
            <a class="dropdown-item" >Support</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logoutClick()">Logout</a>
        </div>
      </li>
    </ul>





</div>

<!-- ====================== Manufucturer Code  End Here   =================== -->











</nav>


<section>
    <!-- <div id="footer">
      <div class="container">
        <p class="footer-block">
          © Copyright 2019 All Rights Reserved
        </p>
      </div>
    </div> -->

          <!-- Sticky Footer -->
          <footer class="sticky-footer full-width">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span>&copy; RecallAlarms.com, All Rights Reserved.</span>
              </div>
            </div>
          </footer>
</section>























<router-outlet></router-outlet>
