 
<div class="container">
  <div class="row  title_main">
    <div class="col-md-10">
        <h3 class="page_title p_l_0"><i class="material-icons">dashboard </i>  Manage Product</h3>

    </div>

  </div>


<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        [aria-label]="checkboxLabel(row)">
          </mat-checkbox>
        </td>
      </ng-container>
    
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef>Product Name </th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container>
    
      <!-- Description Column -->
      <ng-container matColumnDef="productheader">
        <th mat-header-cell *matHeaderCellDef> Product Description </th>
        <td mat-cell *matCellDef="let element"> {{element.productheader}} </td>
      </ng-container>

      <ng-container matColumnDef="PurchaseDate">
        <th mat-header-cell *matHeaderCellDef> Purchase Date </th>
        <td mat-cell *matCellDef="let element"> 22-21-2009 </td>
      </ng-container>

      <ng-container matColumnDef="RetailerName">
        <th mat-header-cell *matHeaderCellDef> Retailer Name </th>
        <td mat-cell *matCellDef="let element"> {{element.RetailerName}} </td>
      </ng-container>
    
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td class="cur_point" mat-cell *matCellDef="let element"> 
          <!-- <i class="material-icons" (click)="viewcomplaintClick()" >
            list_alt
            </i>  -->
          <i class="material-icons" (click)="editit()" >
            edit
          </i>
          <i class="material-icons" (click)="deleteit(element)">
            delete
          </i> 
          <!-- <i class="material-icons" routerLink="/{{element.path}}" >add_circle</i> -->
          <i class="material-icons" data-toggle="modal" data-target="#view" (click)="viewprod(element)">
              remove_red_eye
        </i>     
          </td>
        
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
      </tr>
    </table>
    
</div>




  
      <!-- <div class="row">
      <div class="col-sm-4 pd_15" *ngFor="let prolist of products">

          <div class="card_titleproduct">{{prolist.productheader}}
              <span class="mat_ic"> 
                <button style="outline: none;" mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button style="outline: none;"  mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                  </button>
                  <button style="outline: none;"  mat-menu-item >
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                  </button>
                </mat-menu>
              </span>
              </div>


      <div class="recards min_h_308" >
  

        <div class="card-body text-left">

            <div class="row crd_in">
              <div class="col-sm-6">
                <p class="card-text">Product Name </p>
              </div>
              <div class="col-sm-6">
                  <p class="card-text">: {{prolist.productName}}</p>
              </div>  
  
              <div class="col-sm-6">
                  <p class="card-text">Manufacturer(s)  </p>
                </div>
                <div class="col-sm-6">
                    <p class="card-text">: {{prolist.Manufacturer}}</p>
                </div> 
  
                <div class="col-sm-6">
                    <p class="card-text">Importer/Wholesaler </p>
                  </div>
                  <div class="col-sm-6">
                      <p class="card-text">: {{prolist.ImporterWholesaler}}</p>
                  </div> 
                  <div class="col-sm-6">
                      <p class="card-text">Retailer Name & Address </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="card-text">: {{prolist.RetailerNameaddress}}</p>
                    </div> 
                    <div class="col-sm-6">
                        <p class="card-text">Retailer Phone  </p>
                      </div>
                      <div class="col-sm-6">
                          <p class="card-text">: {{prolist.RetailerPhone}}</p>
                      </div> 
                      <div class="col-sm-6">
                          <p class="card-text">Purchase Date </p>
                        </div>
                        <div class="col-sm-6">
                            <p class="card-text">: {{prolist.PurchaseDate}}</p>
                        </div> 
                        <div class="col-sm-6">
                            <p class="card-text">Payment Mode </p>
                          </div>
                          <div class="col-sm-6">
                              <p class="card-text">: {{prolist.PaymentMode}}</p>
                          </div>
     
            </div>
  
    
          </div>
  

          <button  class="btn btn-primary theme_btn" (click)="viewcomplaintClick()">
              <i class="material-icons">list_alt</i> <span> View Complaint</span>
          </button>  
          <button type="button" class="btn btn-primary theme_btn" routerLink="/{{prolist.path}}">
              <i class="material-icons">settings_remote</i> <span> Add Recall</span> 
          </button>

                
                
      </div>
  
    </div>
  </div> -->
 
</div>   








<div class="modal fade" id="view">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
     <div class="modal-header">
        <h4 class="modal-title">Consumer Complaint</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      

      <div class="modal-body">
          <h5 class="pro_modal2">Product Name :{{viewproduct.productName}}</h5>
          <h5 class="pro_modal2">Manufacturer(s) : {{viewproduct.Manufacturer}}</h5>
          <h5 class="pro_modal2">Importer/Wholesaler :{{viewproduct.ImporterWholesaler}} </h5>
          <h5 class="pro_modal2">Retailer Name & Address :{{viewproduct.RetailerNameaddress}} </h5>
          <h5 class="pro_modal2">Retailer Phone :{{viewproduct.RetailerPhone}} </h5>
          <h5 class="pro_modal2">Purchase Date :{{viewproduct.PurchaseDate}} </h5>
          <h5 class="pro_modal2">Payment Mode :{{viewproduct.PaymentMode}} </h5>
          <form action="">
            
              <div class="form-group">
                  <label for="comment">Problems:</label>
                  <textarea class="form-control" rows="4" id="comment"></textarea>
                </div>
                <div class="custom-file" style="margin-bottom:15px;">
                  <input type="file" class="custom-file-input" id="customFile">
                  <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>

      
    </div>
  </div>

</div>


















<script>
  // Add the following code if you want the name of the file appear on select
  $(".custom-file-input").on("change", function() {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
  </script>