<!-- <h1 mat-dialog-title>Favorite Animal</h1>
<div mat-dialog-content>
  My favorite animal is:
  <ul>
    <li>
      <span *ngIf="data.animal === 'panda'">&#10003;</span> Panda
    </li>
    <li>
      <span *ngIf="data.animal === 'unicorn'">&#10003;</span> Unicorn
    </li>
    <li>
      <span *ngIf="data.animal === 'lion'">&#10003;</span> Lion
    </li>
  </ul>
</div> -->
<!-- <h4 class="modal-title">Consumer Complaint</h4>

<div class="modal-body">
        <form [formGroup]="reportingproblem" (ngSubmit)="onSubmit(reportdata)">
        <h5 class="pro_modal2">Product Name : {{reportdata.ProductName}}</h5>
        <h5 class="pro_modal2">Manufacturer(s) : {{reportdata.Manufacturer}}</h5>
        <h5 class="pro_modal2">Importer/Wholesaler : {{reportdata.ImporterWholesaler}}</h5>
        <h5 class="pro_modal2">Retailer Name & Address : {{reportdata.RetailerName}}</h5>
        <h5 class="pro_modal2">Retailer Phone : {{reportdata.RetailerPhone}}</h5>
        <h5 class="pro_modal2">Purchase Date : {{reportdata.PurchaseDate}}</h5>
        <h5 class="pro_modal2">Payment Mode : {{reportdata.PaymentMode}}</h5>
          
            <div class="form-group">
                <label for="comment">Problems:</label>
                <textarea class="form-control"  formControlName="reportproblemcomment" rows="4" id="comment"></textarea>
              </div>
              <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Cancel</button>
          <button type="submit" class="btn btn-primary submit_btn">Submit</button>

        </form>
    </div> -->
