
<div>


    <div class="container">
        <h3 class="inner_page_title"><i class="material-icons">dashboard </i>Recall</h3>
      <div class="row">
                <div class="col-sm-4 recallcards" *ngFor="let recallsatuts of recallcards" >
                    <div class="recards">
                      <i class="material-icons {{recallsatuts.iconsclass}} iconsrecall"> {{recallsatuts.recallicon}}</i>
                      <h2 class="count">{{recallsatuts.recallcount}}</h2>
                      <p>{{recallsatuts.recalltitle}}</p>
                    </div>
                </div>
    </div>
    
    <div class="table_main">
         <h1>Create Recall</h1>

         <form>

           <div class="row">
                  <div class="col-sm-6">
                      <mat-form-field class="col-sm-12">
                          <input matInput placeholder="NHTSA Campaign Number" >
                        </mat-form-field>
                  </div> 
                  <div class="col-sm-6">
                      <mat-form-field class="col-sm-12">
                          <input matInput [matDatepicker]="picker" class="col-sm-12" placeholder="Recall Date">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                  </div>                                  

          </div>
          <div class="row">
              <div class="col-sm-6">
                  <mat-form-field class="col-sm-12">
                      <input matInput placeholder="Manufacturer Recall Number" >
                    </mat-form-field>
               </div>
               <div class="col-sm-6">
                  <mat-form-field class="col-sm-12">
                      <input matInput placeholder="VIN " >
                    </mat-form-field>
               </div>
          </div> 
          <div class="row">
              <div class="col-sm-6">
                  <mat-form-field class="col-sm-12">
                      <input matInput placeholder="Status" >
                    </mat-form-field>
               </div>
               <div class="col-sm-6">
                  <mat-form-field class="col-sm-12">
                      <input matInput placeholder="Summary">
                  </mat-form-field>
               </div>
          </div>
          <div class="row">
              <div class="col-sm-6">
                  <mat-form-field class="col-sm-12">
                      <input matInput placeholder="Problem" >
                    </mat-form-field>
               </div>
               <div class="col-sm-6">
                  <mat-form-field class="col-sm-12">
                      <input matInput placeholder="Model Year" >
                    </mat-form-field>
               </div>
         </div>
         <div class="row">
            <div class="col-sm-6">
                <mat-form-field class="col-sm-12">
                    <input matInput placeholder="Model Name" >
                  </mat-form-field>
             </div>
             <div class="col-sm-6">
                <mat-form-field class="col-sm-12">
                    <input matInput placeholder="Manufacturer" >
                  </mat-form-field>
             </div>
       </div>
       <div class="row">
          <div class="col-sm-6">
              <mat-form-field class="col-sm-12">
                  <input matInput placeholder="Components" >
                </mat-form-field>
           </div>
           <div class="col-sm-6">
              <mat-form-field class="col-sm-12">
                  <input matInput placeholder="Units" >
                </mat-form-field>
           </div>
     </div> 
     <div class="row">
        <div class="col-sm-6">
            <mat-form-field class="col-sm-12">
                <input matInput placeholder="Remedy" >
              </mat-form-field>
         </div>
         <div class="col-sm-6">
            <mat-form-field class="col-sm-12">
                <input matInput placeholder="Notes" >
              </mat-form-field>
         </div>
   </div>  
 
  
 
 <div class="row text-right">
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary theme_btn_save" (click)="AddRecallClick()">
            <i class="material-icons">save</i> <span> Save</span> 
        </button>  
     </div>
</div> 
         </form>

    </div>
    
    </div>
    
    </div>
    
    