


<div id="wrapper">

    <ul class="sidebar navbar-nav">
        <li class="nav-item">
            <a class="nav-link nav-logo" routerLink="/manufuctrermanage-product">
             <img src="assets/image/{{manulogo}}"  alt="Ford" class="img-fluid" />
              </a>
        </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="/manufacturerdashboard">
                  <i class="fas fa-fw fa-tachometer-alt"></i>
                  <span>Dashboard</span>
                </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/recall">
                    <i class="fas fa-fw fa-history "></i>
                    <span>Recalls</span>
                  </a>
                </li>
              <li class="nav-item">
                      <a class="nav-link" routerLink="/manufuctrermanage-product">
                        <i class="fas fa-fw fa-boxes"></i>
                        <span>Products</span>
                      </a>
                    </li>
                        <li class="nav-item">
                              <a class="nav-link" routerLink="/sale">
                                <i class="fas fa-fw fa-user-check"></i>
                                <span>Sales</span>
                              </a>
                            </li>
                            <li class="nav-item">
                                  <a class="nav-link" routerLink="/manageretailer">
                                    <i class="fas fa-fw fa-users"></i>
                                    <span>Customers</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                      <a class="nav-link" routerLink="/viewcomplaint">
                                        <i class="fas fa-fw fa-envelope-open-text"></i>
                                        <span>Complaints</span>
                                      </a>
                                    </li>
                                    <li class="nav-item">
                                          <a class="nav-link" routerLink="/reports">
                                            <i class="fas fa-fw fa-file-alt"></i>
                                            <span>Reports</span>
                                          </a>
                                        </li>
              <li class="nav-item">
                      <a class="nav-link" routerLink="/manufucturer-settings">
                  <i class="fas fa-fw fa-cog"></i>
                  <span>Settings</span>
                </a>
              </li>     
    </ul>



<div id="content-wrapper" class="p_l_226">
    <div class="page-heading p-3">
        <div class="page-title">  
      <h3>Customer Complaints</h3>
          </div>
      
      </div>
      
      
      

        
</div>

</div>















<!-- 
<div class="container">
    <div class="table_main">
        <h1>Complaint List</h1>
       <div class="table-responsive ">
           <mat-form-field>
             <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
           </mat-form-field>
           <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8 datatable_points">
             <ng-container matColumnDef="position">
               <th mat-header-cell *matHeaderCellDef  mat-sort-header> S.No. </th>
               <td mat-cell *matCellDef="let element"> {{element.position}} </td>
             </ng-container>
             <ng-container matColumnDef="date" >
               <th mat-header-cell *matHeaderCellDef  mat-sort-header> Date </th>
               <td mat-cell *matCellDef="let element"> {{element.date}} </td>
             </ng-container>
             <ng-container matColumnDef="productname">
               <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
               <td mat-cell *matCellDef="let element"> {{element.productname}} </td>
             </ng-container>
             <ng-container matColumnDef="sellername" >
               <th mat-header-cell *matHeaderCellDef mat-sort-header> Seller's Name </th>
               <td mat-cell *matCellDef="let element"> {{element.sellername}} </td>
             </ng-container>
             <ng-container matColumnDef="compliant" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Compliant </th>
                <td mat-cell *matCellDef="let element"> {{element.compliant}} </td>
              </ng-container>
             
             <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
                <td mat-cell *matCellDef="let element"><i (click)="chat()" class="material-icons cursor">question_answer</i> <i (click)="removeComplaint()" class="material-icons cursor">clear</i></td>
              </ng-container>
             <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
             <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
           </table>
           <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
         </div>
   </div>
 </div>  -->