<h3 class="page_title"><i class="material-icons">dashboard </i> Complaint View</h3>
<div class="app">

    <div class="contact" *ngFor="let msg of message">
      <!-- <div class="face">
        <p class="initials">TW</p>
      </div> -->
      <p class="name">{{msg.email}}</p>
    </div>
    <div class="messages" *ngFor="let msg of message">
      <div class="msg msg-1" >
              <div class="row">
                  <div class="col-sm-12">
                      <p class="msg-txt">{{msg.user1}} </p>
                  </div>
                  <div class="col-sm-12">
                      <p class="messagedate">10-05-2019</p>
                      <p class="messagereply">replied</p>
                  </div>                  
              </div>

      </div>
      <div class="msg msg-2 alt">

          <div class="row">
              <div class="col-sm-12">
                  <p class="msg-txt">{{msg.admin1}}</p>
              </div>
              <div class="col-sm-12">
                  <p class="messagedate">10-05-2019</p>
                  <p class="messagereply">replied</p>
              </div>                  
          </div>



      </div>
      <div class="msg msg-3 " >

          <div class="row">
              <div class="col-sm-12">
                  <p class="msg-txt">{{msg.user2}}</p>
              </div>
              <div class="col-sm-12">
                  <p class="messagedate">10-05-2019</p>
                  <p class="messagereply">replied</p>
              </div>                  
          </div>


      </div>
      <div class="msg msg-4 alt " >
          <div class="row">
              <div class="col-sm-12">
                  <p class="msg-txt">{{msg.admin2}}</p>
              </div>
              <div class="col-sm-12">
                  <p class="messagedate">10-05-2019</p>
                  <p class="messagereply">replied</p>
              </div>                  
          </div>

        </div>

      <div class="msg msg-5" >
        <div class="pending pend-1"></div>
        <div class="pending pend-2"></div>
        <div class="pending pend-3"></div>
      </div>
    </div>
    
    <div class="compose">
      <input class="new" type="text" placeholder="New message...">	
    </div>
  
  
  </div>