@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700');

@mixin font {
	font-family: 'Hind', sans-serif; font-weight: 400;
}

body {
	margin: 0;
	height: 100vh; background: linear-gradient(pink, lightcyan);
	@include font;
}

.app {
	height: 450px; width: 90%;
	top: 228px;
	position: relative; left: 50%;
	transform: translate(-50%, -50%);
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.14), 0 10px 10px rgba(0, 0, 0, 0);
}

.contact {
	height: 44px; width: 100%;
	background: rgba(255,255,255,.15);
	box-shadow: 0 3px 6px rgba(0,0,0,0), 0 3px 6px rgba(0,0,0,0);
	position: relative;
	z-index: 9;
}

.face {
	height: 200%; width: 30%;
	position: absolute;
	left: 2rem;
	transform: translateY(-25%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 25%, black 25%, black 75%, rgba(0,0,0,0) 75%);
	border-radius: 100px;
	.initials {
		position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%);
		color: rgb(66,66,66);
		font-size: 2rem; font-weight: 700;
		text-align: center;
	}
}

.name {
	margin: 0;
	position: absolute; top: 50%; left: 2rem; text-align: left;
	transform: translateY(-50%);
	font-weight: 600;
}

.messages {
	height: 77%;
	position: relative;
	background: white;	
}

.compose {
	height: 13%; width: 100%;
	position: relative;
	background: rgb(224, 242, 249);
	box-shadow: 0 -3px 6px rgba(0,0,0,0), 0 -3px 6px rgba(82, 82, 82, 0.03);
}

.new {
	padding: 0 1.2rem;
	height: 66%; width: calc(100% - 2.4rem);
	position: absolute;
	top: 47%; left: 1.5rem; transform: translateY(-50%);
	border: none;
	border-radius: 20px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), -1px 1px 2px rgba(0,0,0,0.24);
	outline: none;
	@include font;
	&:focus {
		box-shadow: 0 3px 3px rgba(0,0,0,0.12), -1px 2px 3px rgba(0,0,0,0.24);
	}
}

.msg {
	margin: 0;
	padding: 1rem 10px;
	width: calc(45% );
	background: rgba(127, 199, 226, 0.6);
	border-radius: 20px;
	font-size: .9rem;
	display: flex;
	position: absolute;
	.row{
		width: 100%;
		padding-right: 0px;
	}
	&.active {
		background: rgba(255, 192, 203, 1);
	}
	&.msg-1 {
		top: 2rem; left: 1.5rem;
	}
	&.msg-2 {
		top: 5rem; right: 1.5rem;
	}
	&.msg-3 {
		top: 8rem; left: 1.5rem;
	}
	&.msg-4 {
		top: 13rem; right: 1.5rem; 
    }
    
    &.msg-5 {
		top: 18rem; left: 1.5rem; 
	}
	&.alt {
		background: rgba(211, 211, 211, .6);
		&.active {
			background: rgba(211, 211, 211, 1);
		}
	}
	.pending {
		margin-right: .3rem;
		height: .5rem; width: .5rem;
		background: darkgray;
		border-radius: .6rem;
		animation: bob 1.5s infinite;
		&.pend-2 {
			animation-delay: 100ms;
		}
		&.pend-3 {
			animation-delay: 200ms;
		}
	}
}

@keyframes bob {
	20% {
		transform: translateY(-.4rem);
	}
	70% {
		transform: translateY(0);
	}
}

.msg-txt {
	margin: 0; align-self: center;
	line-height: 1.4;
}