



 <!-- the modal -->
 <div class="modal fade" id="addsale">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">

<!-- modal header -->
<div class="modal-header">
  <h4 class="modal-title">Add Retailer</h4>
  <button type="button" class="close" data-dismiss="modal">&times;</button>
</div>



 <!-- Modal body -->
 <div class="modal-body">
    <!-- <form action=""> -->

<div >
<div class="form-group">
    <label for="usr">Order/Invoice No.:</label>
    <input type="text" class="form-control" id="usr">
</div>
<div class="form-group">
    <label for="usr">Date:</label>
    <input type="date" class="form-control" id="usr">
</div>
<div class="form-group">
    <label for="usr">Product:</label>
    <input type="text" class="form-control" id="usr">
</div>
<div class="form-group">
  <label for="address">Address : </label>
  <textarea class="form-control" rows="1" id="address" name="text"></textarea>
</div>

<div class="form-group">
  <label for="Customer Name">Customer Name : </label>
  <textarea class="form-control" rows="1" id="comment" name="text"></textarea>
</div>
<div class="form-group">
  <label for="Customer Id">Customer Id : </label>
  <textarea class="form-control" rows="1" id="comment" name="text"></textarea>
</div>

</div>

    <button type="submit" (click)="add()" class="btn btn-primary">Submit</button>
  <!-- </form> -->
     </div>

      </div>
    </div>
    </div>









<div id="wrapper">

    <ul class="sidebar navbar-nav">
        <li class="nav-item">
            <a class="nav-link nav-logo" routerLink="/manufuctrermanage-product">
             <img src="assets/image/{{manulogo}}"  alt="Ford" class="img-fluid" />
              </a>
        </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="/manufacturerdashboard">
                  <i class="fas fa-fw fa-tachometer-alt"></i>
                  <span>Dashboard</span>
                </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/recall">
                    <i class="fas fa-fw fa-history "></i>
                    <span>Recalls</span>
                  </a>
                </li>
              <li class="nav-item">
                      <a class="nav-link" routerLink="/manufuctrermanage-product">
                        <i class="fas fa-fw fa-boxes"></i>
                        <span>Products</span>
                      </a>
                    </li>
                        <li class="nav-item">
                              <a class="nav-link" routerLink="/sale">
                                <i class="fas fa-fw fa-user-check"></i>
                                <span>Sales</span>
                              </a>
                            </li>
                            <li class="nav-item">
                                  <a class="nav-link" routerLink="/manageretailer">
                                    <i class="fas fa-fw fa-users"></i>
                                    <span>Customers</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                      <a class="nav-link" routerLink="/viewcomplaint">
                                        <i class="fas fa-fw fa-envelope-open-text"></i>
                                        <span>Complaints</span>
                                      </a>
                                    </li>
                                    <li class="nav-item">
                                          <a class="nav-link" routerLink="/reports">
                                            <i class="fas fa-fw fa-file-alt"></i>
                                            <span>Reports</span>
                                          </a>
                                        </li>
              <li class="nav-item">
                      <a class="nav-link" routerLink="/manufucturer-settings">
                  <i class="fas fa-fw fa-cog"></i>
                  <span>Settings</span>
                </a>
              </li>     
    </ul>



<div id="content-wrapper" class="p_l_226">
    <div class="page-heading p-3">
        <div class="page-title">  
      <h3>Sales</h3>
          </div>
          <div class="page-controls">
              <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
               Add Order
               </button>
               <div class="dropdown-menu">
                 <a class="dropdown-item" style="cursor: pointer;" data-toggle="modal" data-target="#addsale">New</a>
                 <a class="dropdown-item" style="cursor: pointer;">Bulk Import</a>
               </div>
               <!-- <button type="button" class="btn btn-info btn-sm">Edit</button>
               <button type="button" class="btn btn-danger btn-sm">Delete</button> -->
           
      
       </div>
      <div class="clear-fix"></div>
      
      </div>
      
      
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <table class="table card-table table-vcenter">
                          <tr>
                            <th><input type="checkbox"></th>
                            <th>Order/Invoice No.</th>
                            <th>Date</th>
                            <th>Product</th>
                            <th>Amount</th>
                            <th>Customer Id</th>
                          </tr>
                        </table>
                    </div>
              </div>
            </div>
      
    
      </div>  
        
</div>

</div>





