 
<div class="container">
    <div class="row  title_main">
      <div class="col-md-10">
          <h3 class="page_title p_l_0"><i class="material-icons">dashboard </i>  Recall List</h3>
        <!-- <h2> Admin Manage Product</h2> -->
      </div>
      <!-- <div class="col-md-2 title_icon">
        <i class="material-icons" style="cursor: pointer;" data-toggle="modal" data-target="#addproduct">
          add_circle
          </i>
          
      </div> -->
    </div>
     
      <!-- <div class="card-deck"> -->
        <div class="row">
        <div class="col-sm-4 pd_15" *ngFor="let prolist of products">

            <div class="card_titleproduct">{{prolist.productheader}}
                <span class="mat_ic"> 
                  <button style="outline: none;" mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button style="outline: none;"  mat-menu-item>
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button>
                    <button style="outline: none;"  mat-menu-item >
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
                </span>
                </div>


        <div class="recards min_h_308" >
    

          <div class="card-body text-left">
  
              <div class="row crd_in">
                <div class="col-sm-6">
                  <p class="card-text">Product Name </p>
                </div>
                <div class="col-sm-6">
                    <p class="card-text">: {{prolist.ProductName}}</p>
                </div>  
    
                <div class="col-sm-6">
                    <p class="card-text">Manufacturer(s)  </p>
                  </div>
                  <div class="col-sm-6">
                      <p class="card-text">: {{prolist.Manufacturer}}</p>
                  </div> 
    
                  <div class="col-sm-6">
                      <p class="card-text">Importer/Wholesaler </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="card-text">: {{prolist.ImporterWholesaler}}</p>
                    </div> 
                    <div class="col-sm-6">
                        <p class="card-text">Retailer Name & Address </p>
                      </div>
                      <div class="col-sm-6">
                          <p class="card-text">: {{prolist.RetailerNameaddress}}</p>
                      </div> 
                      <div class="col-sm-6">
                          <p class="card-text">Retailer Phone  </p>
                        </div>
                        <div class="col-sm-6">
                            <p class="card-text">: {{prolist.RetailerPhone}}</p>
                        </div> 
                        <div class="col-sm-6">
                            <p class="card-text">Purchase Date </p>
                          </div>
                          <div class="col-sm-6">
                              <p class="card-text">: {{prolist.PurchaseDate}}</p>
                          </div> 
                          <div class="col-sm-6">
                              <p class="card-text">Payment Mode </p>
                            </div>
                            <div class="col-sm-6">
                                <p class="card-text">: {{prolist.PaymentMode}}</p>
                            </div>
       
              </div>
    
      
            </div>
    

            <!-- <button  class="btn btn-primary theme_btn" (click)="viewcomplaintClick()">
                <i class="material-icons">list_alt</i> <span> View Complaint</span>
            </button>  
            <button type="button" class="btn btn-primary theme_btn" (click)="viewlist(prolist)">
                <i class="material-icons">settings_remote</i> <span> Add Recall</span> 
            </button>
                 -->
                  
                  
        </div>
    
      </div>
    </div>
      <div class="modal fade" id="addproduct">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Add Product</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
                <form action="">
                  <select  class="custom-select mb-3" id="proselect"  (change)="myFunction($event.target.value)">
                    <option selected>Select Product</option>
                    <option  value="Motor">Motor Product </option>
                    <option  value="Consumer">Consumer Products</option>
                  </select> 
            <div id="motoform" [hidden]="motorhidden">
              <div class="form-group">
                <label for="Manufacturer">Manufacturer : </label>
                <textarea class="form-control" rows="1" id="comment" name="text"></textarea>
              </div>
              <div class="form-group">
                <label for="Vehicle Model Name">Vehicle Model Name : </label>
                <textarea class="form-control" rows="1" id="comment" name="text"></textarea>
              </div>
              <div class="form-group">
                <label for="Model year">Model year : </label>
                <textarea class="form-control" rows="1" id="comment" name="text"></textarea>
              </div>
              <div class="form-group">
                <label for="VIN (Vehicle Identification Number)">VIN (Vehicle Identification Number) : </label>
                <textarea class="form-control" rows="1" id="comment" name="text"></textarea>
              </div>
              <div class="form-group">
                <label for="Date of Purchase">Date of Purchase : </label>
                <!-- <textarea class="form-control" rows="1" id="comment" name="text"></textarea> -->
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="form-group">
                <label for="Retailer Name">Retailer Name : </label>
                <textarea class="form-control" rows="1" id="comment" name="text"></textarea>
              </div>
              <div class="form-group">
                <label for="Payment Mode">Payment Mode : </label>
                <textarea class="form-control" rows="1" id="comment" name="text"></textarea>
              </div>
        
            </div>
            <div id="conform" [hidden]="consumerhidden">
              <div class="form-group">
                <label for="Manufacturer / importer">Manufacturer / importer : </label>
                <textarea class="form-control" rows="1" id="comment" name="text"></textarea>
              </div>
              <div class="form-group">
                <label for="Retailer name">Retailer name: </label>
                <textarea class="form-control" rows="1" id="comment" name="text"></textarea>
              </div>
              <div class="form-group">
                <label for="Retailer Location">Retailer Location : </label>
                <textarea class="form-control" rows="1" id="comment" name="text"></textarea>
              </div>
              <div class="form-group">
                <label for="Product Name">Product Name : </label>
                <textarea class="form-control" rows="1" id="comment" name="text"></textarea>
              </div>
              <div class="form-group">
                <label for="Purchase Date">Purchase Date : </label>
                <textarea class="form-control" rows="1" id="comment" name="text"></textarea>
              </div>
              <div class="form-group">
                <label for="Manufacturer date">Manufacturer date : </label>
                <textarea class="form-control" rows="1" id="comment" name="text"></textarea>
              </div>
              <div class="form-group">
                <label for="Date of expiry">Date of expiry : </label>
                <textarea class="form-control" rows="1" id="comment" name="text"></textarea>
              </div>
              <div class="form-group">
                <label for="Payment Mode">Payment Mode : </label>
                <textarea class="form-control" rows="1" id="comment" name="text"></textarea>
              </div>
              <div class="form-group">
                <label for="Notes">Notes : </label>
                <textarea class="form-control" rows="1" id="comment" name="text"></textarea>
              </div>
    
            </div>
                  <button type="submit" (click)="add()" class="btn btn-primary">Submit</button>
                </form>
                
              </div>
    
    </div>
    </div>
    
    </div>
    <div class="modal fade" id="view">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Consumer Complaint</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
                <h5 class="pro_modal2">Product Name : {{viewproduct.ProductName}} </h5>
                <h5 class="pro_modal2">Manufacturer(s) : {{viewproduct.Manufacturer}}</h5>
                <h5 class="pro_modal2">Importer/Wholesaler :{{viewproduct.ImporterWholesaler}} </h5>
                <h5 class="pro_modal2">Retailer Name & Address :{{viewproduct.RetailerNameaddress}} </h5>
                <h5 class="pro_modal2">Retailer Phone :{{viewproduct.RetailerPhone}} </h5>
                <h5 class="pro_modal2">Purchase Date :{{viewproduct.PurchaseDate}} </h5>
                <h5 class="pro_modal2">Payment Mode :{{viewproduct.PaymentMode}} </h5>
                <form action="">
                  
                    <div class="form-group">
                        <label for="comment">Problems:</label>
                        <textarea class="form-control" rows="4" id="comment"></textarea>
                      </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            
            <!-- Modal footer -->
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div> -->
            
          </div>
        </div>

</div>
    