
<body id="page-top">
  <div class="page-heading p-3">
    <div class="page-title">  
<h3>My Recalls</h3>
      </div>
</div>
<div id="wrapper">
  <!-- Sidebar -->
  <div id="content-wrapper">
    <div class="container-fluid">
   <!-- Page Content -->
      <div class="row">
        <!-- Content -->
          <div class="col-md-9">

              <div class="card">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="custom-checkbox filter-list float-right">
                            <span class="text-muted">Filters: </span>
                        <ul>
                            <li>
                                  <input type="checkbox" class="custom-control-input" id="veh" value="1" value="1" [(ngModel)]="vehicle" (change)="filter(vehicle?'vehicle':'0')" >
                                  <label class="custom-control-label" for="veh">Vehicles</label>
                            </li>
                            <li>
                                <input type="checkbox" class="custom-control-input" [(ngModel)]="consumer"  (change)="filter(consumer?'Consumer':'0')" id="con" value="1">
                                  <label class="custom-control-label" for="con">Consumer Products</label>
                                </li>
                                <li>
                                    <input type="checkbox" class="custom-control-input" [(ngModel)]="pharma"  (change)="filter(pharma?'Pharma':'0')" id="con" value="1">
                                      <label class="custom-control-label" for="con">pharma</label>
                                    </li> 
                                <li>
                                <input type="checkbox" [(ngModel)]="food" (change)="filter(food?'food':'0')" class="custom-control-input" id="food" value="1">
                                  <label class="custom-control-label" for="food">Food</label>
                                </li>
                                <li>
                                <input type="checkbox" [(ngModel)]="drug" (change)="filter(drug?'drug':'0')" class="custom-control-input" id="drug" value="1">
                                  <label class="custom-control-label" for="drug">Drugs</label>
                                </li>
                              </ul>
                            </div>
                      </div>
                    </div>
  <hr/>
                      <div class="table-responsive">
                          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                              <thead>
                                  <tr>
                                    <th>Product Name</th>
                                    <th>Date</th>
                                    <!-- <th>Reference No.</th> -->
                                    <th>No of Recalls</th>
                                    <th>Recall System</th>
                                    <th>Legal Liabilities</th>
                                    <th>Contact</th>
                                    <th>Not reached out yet</th>
                                    <th>consumed this product</th>
                                    <th>adverse effects</th>
                                    <th>physician</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                  </tr>
                              </thead>
                                <!-- <tfoot>
                                  <tr>
                                      <th>Product Name</th>
                                      <th>Date</th>
                                      <th>Reference No.</th>
                                      <th>No of Recalls</th>
                                      <th>Recall System</th>
                                      <th>Legal Liabilities</th>
                                      <th>Contacted</th>
                                      <th>Not reached out yet</th>
                                      <th>No of people who consumed this product</th>
                                      <th>No of adverse effects</th>
                                      <th>Observed by a physician</th>
                                  </tr>
                                </tfoot> -->
                                <tbody>
                                  <tr *ngFor="let addedpro of products">
                                    

                                  <td>{{addedpro.productname}} </td>
                                  <td>{{addedpro.date}} </td>
                                  <td>{{addedpro.noofrecall}} </td>
                                  <td>{{addedpro.recallsystem}} </td>
                                  <td>{{addedpro.legallibilities}} </td>
                                  <td>{{addedpro.contact}} </td>
                                  <td>{{addedpro.reachedoutyet}} </td>
                                  <td>{{addedpro.consumeredproduct}} </td>
                                  <td>{{addedpro.adverseeffects}} </td>
                                  <td>{{addedpro.physician}} </td>
                                  <td>{{addedpro.status}} </td>
                                  <td>
                                      <button type="button" style="margin-bottom: 10px" (click)="productdetailClick()" class="btn btn-info btn-sm m_r_10">Details</button>
                                      <button type="button" class="btn btn-danger btn-sm m_r_10">Delete</button>
                                  </td>

                                  </tr>

      <!-- <tr *ngFor="let addedpro of productlist;let i=index" [attr.data-index]="i">
            <td>
            <span *ngIf="i!=updtadeProduct  || editproshow==false">{{addedpro.productname}}</span> 
            <span *ngIf="i==updtadeProduct && editproshow==true"><input   [(ngModel)]="addedpro.productname" class="form-control" type="text" class="form-control"></span> 
            </td>
            <td>
            <span *ngIf="i!=updtadeProduct  || editproshow==false">{{addedpro.referenceno}}</span> 
            <span *ngIf="i==updtadeProduct && editproshow==true"><input [(ngModel)]="addedpro.referenceno"   class="form-control" type="text" class="form-control"></span> 
          </td>
            <td>
              <span *ngIf="i!=updtadeProduct  || editproshow==false">{{addedpro.dateofpurchase | date:"MM/dd/yyyy"}}</span> 
              <span *ngIf="i==updtadeProduct && editproshow==true"><input [(ngModel)]="addedpro.purchasedate"  class="form-control" type="text" class="form-control"></span>                                          
            </td>
            <td>
                <span *ngIf="i!=updtadeProduct  || editproshow==false">{{addedpro.retailername }}</span> 
                <span *ngIf="i==updtadeProduct && editproshow==true"><input  [(ngModel)]="addedpro.retailname" class="form-control" type="text" class="form-control"></span> 
              </td>
            <td>
              <span *ngIf="i!=updtadeProduct  || editproshow==false">{{addedpro.amount}}</span> 
              <span  *ngIf="i==updtadeProduct && editproshow==true"><input [(ngModel)]="addedpro.payment"  class="form-control" type="text" class="form-control"></span> 
            </td>
            <td>
                <span *ngIf="i!=updtadeProduct || editproshow==false">
                    <a (click)="editproduct(i)" class="btn btn-sm btn-mrgrt btn-outline-primary">Edit</a> 
                    <a (click)="deleteproduct(i)" class="btn btn-sm btn-outline-danger">Delete</a>
                </span>               
                <span *ngIf="i==updtadeProduct && editproshow==true">
                    <a (click)="saveProduct(i,addedpro.productname,addedpro.referenceno,addedpro.purchasedate,addedpro.payment,addedpro.retailname)" class="btn btn-sm btn-mrgrt btn-outline-primary">Save</a> 
                </span>               
            </td>
      </tr> -->
                                </tbody>
                              </table>
                          <!-- <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                              <thead>
                                  <tr>
                                    <th>Product Name</th>
                                    <th>Reference No.</th>
                                    <th>Date of Purchase</th>
                                    <th>Retailer</th>
                                    <th>Amount</th>
                                    <th>Manage</th>
                                  </tr>
                              </thead>
                                <tfoot>
                                  <tr>
                                      <th>Product Name</th>
                                      <th>Reference No.</th>
                                      <th>Date of Purchase</th>
                                      <th>Retailer</th>
                                      <th>Amount</th>
                                    <th>Manage</th>
                                  </tr>
                                </tfoot>
                                <tbody>
      <tr *ngFor="let addedpro of productlist;let i=index" [attr.data-index]="i">
            <td>
            <span *ngIf="i!=updtadeProduct  || editproshow==false">{{addedpro.productname}}</span> 
            <span *ngIf="i==updtadeProduct && editproshow==true"><input   [(ngModel)]="addedpro.productname" class="form-control" type="text" class="form-control"></span> 
            </td>
            <td>
            <span *ngIf="i!=updtadeProduct  || editproshow==false">{{addedpro.referenceno}}</span> 
            <span *ngIf="i==updtadeProduct && editproshow==true"><input [(ngModel)]="addedpro.referenceno"   class="form-control" type="text" class="form-control"></span> 
          </td>
            <td>
              <span *ngIf="i!=updtadeProduct  || editproshow==false">{{addedpro.dateofpurchase | date:"MM/dd/yyyy"}}</span> 
              <span *ngIf="i==updtadeProduct && editproshow==true"><input [(ngModel)]="addedpro.purchasedate"  class="form-control" type="text" class="form-control"></span>                                          
            </td>
            <td>
                <span *ngIf="i!=updtadeProduct  || editproshow==false">{{addedpro.retailername }}</span> 
                <span *ngIf="i==updtadeProduct && editproshow==true"><input  [(ngModel)]="addedpro.retailname" class="form-control" type="text" class="form-control"></span> 
              </td>
            <td>
              <span *ngIf="i!=updtadeProduct  || editproshow==false">{{addedpro.amount}}</span> 
              <span  *ngIf="i==updtadeProduct && editproshow==true"><input [(ngModel)]="addedpro.payment"  class="form-control" type="text" class="form-control"></span> 
            </td>
            <td>
                <span *ngIf="i!=updtadeProduct || editproshow==false">
                    <a (click)="editproduct(i)" class="btn btn-sm btn-mrgrt btn-outline-primary">Edit</a> 
                    <a (click)="deleteproduct(i)" class="btn btn-sm btn-outline-danger">Delete</a>
                </span>               
                <span *ngIf="i==updtadeProduct && editproshow==true">
                    <a (click)="saveProduct(i,addedpro.productname,addedpro.referenceno,addedpro.purchasedate,addedpro.payment,addedpro.retailname)" class="btn btn-sm btn-mrgrt btn-outline-primary">Save</a> 
                </span>               
            </td>
      </tr>
                                </tbody>
                              </table> -->
                        </div>
  
                    </div>



            <!-- <div class="card">
            <div class="row">
              <div class="col-md-12">
                  <div class="custom-checkbox filter-list">
                    <span class="text-muted">Filters: </span>
                <ul>
                    <li>
                          <input type="checkbox" class="custom-control-input" id="veh" value="1">
                          <label class="custom-control-label" for="veh">Vehicles</label>
                    </li>
                    <li>
                        <input type="checkbox" class="custom-control-input" id="con" value="1">
                          <label class="custom-control-label" for="con">Consumer Products</label>
                        </li>
                        <li>
                        <input type="checkbox" class="custom-control-input" id="food" value="1">
                          <label class="custom-control-label" for="food">Food</label>
                        </li>
                        <li>
                        <input type="checkbox" class="custom-control-input" id="drug" value="1">
                          <label class="custom-control-label" for="drug">Drugs</label>
                        </li>
                      </ul>
                    </div>
              </div>
            </div>
          </div> -->


<!-- 

            <div class="row">
              <div class="col-md-4 border border-left-0 border-top-0 border-bottom-0">
                <div >
                    <h4 class="icon-title">
                        <span><i class="fa fa-plus text-primary"></i></span>
                      New</h4>
                      <hr />
                  </div>
                <div class="cards-column">
                    <div class="cards-items">

                      <div class="cards-item list-group-item" *ngFor="let list of openrecall">
                          <div class="dropdown">
                              <a href="#" class="dropdown-toggle no-arrow outline outline-danger float-right"  data-toggle="dropdown"><i class="fa fa-bell"></i></a>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" (click)="productdetailClick(list.id)">Details</a>
                                <a class="dropdown-item">Remove</a>
                              </div>
                            </div> 
                        <h6 class="cards-item-name">{{list.productname}}</h6>
                        <div class="cards-item-desc">
                        {{list.summary}}   
                        </div>
                        <span class="cards-item-date">{{list.publish_on | date:"dd MMMM yyyy"}}</span>
                        
                      
                      
                      </div>
                     
                    </div>
                  </div>
              </div>
              <div class="col-md-4 border border-left-0 border-top-0 border-bottom-0">
                  <div >
                      <h4 class="icon-title">
                          <span><i class="fa fa-angle-double-right text-info"></i></span>
                        In-Progress</h4>
                        <hr />
                    </div>

                    <div class="cards-column">
                        <div class="cards-items">
  
                          <div class="cards-item list-group-item" *ngFor="let list of progressRecall">
                            
                          </div>

  
                        </div>
                      </div>

                </div>
                <div class="col-md-4">
                    <div>
                        <h4 class="icon-title">
                            <span><i class="fa fa-check text-success"></i></span>
                          Completed</h4>
                          <hr />
                      </div>
                      <div class="cards-column">
                          <div class="cards-items">
    
                            <div class="cards-item list-group-item" *ngFor="let list of closedRecall">
                             
                            
                            </div>
                           
                          </div>
                        </div>
                  </div>
            </div> -->

          </div>
          <!-- Right Column -->
          <div class="col-md-3">
              <div class="card">
                  <div class="card-body p-0 ra-ticker">
          <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#tabvehicle">
                      <i class="fa fa-car"></i>
                      <span>Vehicle</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabconsumer">
                          <i class="fa fa-shopping-cart"></i>
                          <span>Consumer</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabfood">
                          <i class="fa fa-cheese"></i>
                          <span>Food</span>
                    </a>
                  </li> 
                   <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tabdrug">
                          <i class="fa fa-pills"></i>
                          <span>Drug</span>
                    </a>
                  </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane px-0 container active" id="tabvehicle">
                      <!-- <marquee behavior="scroll" direction="up" class="h_410">
                          <div id="divRss1"></div>                        
                      </marquee> -->
                      <div class="newsupdate">
                          <div class="content_inner" *ngFor="let newsdetail of newsupdatelist">
                            <a href="{{newsdetail.path}}" target="_blank">{{newsdetail.newstitle}}</a>
                            <p>{{newsdetail.newscontent}}</p>
                          </div>
                      </div>
                  </div>
                  <div class="tab-pane px-0 container fade" id="tabconsumer">
                      <!-- <marquee behavior="scroll" direction="up" class="h_410">
                          <div id="divRss2"></div>                        
                      </marquee> -->
                      <div class="newsupdate">
                        <div class="content_inner" *ngFor="let newsdetail of newsupdatelistconsumer">
                          <a href="{{newsdetail.path}}" target="_blank">{{newsdetail.newstitle}}</a>
                          <p>{{newsdetail.newscontent}}</p>
                        </div>
                    </div>
                  </div>
                  <div class="tab-pane px-0 container fade" id="tabfood">
                      <!-- <marquee behavior="scroll" direction="up" class="h_410">
                          <div id="divRss3"></div>                        
                      </marquee> -->
                      <div class="newsupdate">
                        <div class="content_inner" *ngFor="let newsdetail of newsupdatelistfood">
                          <a href="{{newsdetail.path}}" target="_blank">{{newsdetail.newstitle}}</a>
                          <p>{{newsdetail.newscontent}}</p>
                        </div>
                    </div>
                  </div>
                  <div class="tab-pane px-0 container fade" id="tabdrug">
                      <!-- <marquee behavior="scroll" direction="up" class="h_410">
                          <div id="divRss4"></div>
                      </marquee> -->
                      <div class="newsupdate">
                        <div class="content_inner" *ngFor="let newsdetail of newsupdatelistdrug">
                          <a href="{{newsdetail.path}}" target="_blank">{{newsdetail.newstitle}}</a>
                          <p>{{newsdetail.newscontent}}</p>
                        </div>
                    </div>
                  </div>
            
                </div>
              </div>
          </div>
          </div>
      </div>


   </div>
    <!-- /.container-fluid -->
    <!-- Sticky Footer -->


  </div>
  <!-- /.content-wrapper -->
</div>
<!-- /#wrapper -->



<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

</body>