<div class="container">
    <div class="row">
        <div class="col col-md-4 mx-auto my-4">
          <div class="card p-2" action="index.htm">
              <div class="text-center mt-4">
                  <img src="assets/image/{{logo}}" alt="">
                 <h4 class="mt-2 text-muted"> Manufacturer Sign Up</h4>
                </div>
            <div class="card-body py-0">
     <form [formGroup]="signup">
        <div class="form-group">
            <label class="form-label">Email address</label>
            <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label class="form-label">First Name</label>
            <input type="text" formControlName="firstname" class="form-control" id="exampleInputfname" aria-describedby="fname" placeholder="First Name">
          </div>
          <div class="form-group">
            <label class="form-label">Last Name</label>
            <input type="text" formControlName="lastname" class="form-control" id="exampleInputlname" aria-describedby="lname" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label class="form-label">
              Password
            </label>
            <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group">
            <label class="form-label">
              Confirm Password
            </label>
            <input type="password" formControlName="confirmpassword" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password">
          </div>
          <!-- <div class="form-group">
            <label class="custom-control custom-checkbox">
              <input [(ngModel)]="checkit" type="checkbox" class="custom-control-input" />
              <span class="custom-control-label">I agree terms & conditions</span>
            </label>
  
          </div> -->
          <div class="form-footer">
            <button [disabled]="signup.invalid" (click)="registerit()" class="btn btn-primary btn-block">Save</button>
          </div>
  
          <div class=" text-muted py-2">
            Already I have an account? <span style="color: #00305d;cursor: pointer;" (click)="loginClick()">Sign In</span>
            
            </div>
  
  
     </form>
  
  
            </div>
        
          </div>
        
        </div>
      </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  <!-- 
  <div class="container">
      <div class="row log_card" >
          <div class="col-sm-7 p_0">
            <img src="assets/image/{{loginbg}}" class="img-fluid imgbg" style="height:510px">
          </div>
          <div class="col-sm-5 p_0">
              <h1 class="text-center login_title">Register</h1>
                <div  class="login_rightcard">
                    <div>
                        <mat-form-field class="col-sm-12">
                            <input matInput placeholder="Enter your Full Name">
                          </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="col-sm-12">
                            <input matInput placeholder="Enter your Email">
                          </mat-form-field>
                    </div>
                    <div>
                          <mat-form-field class="col-sm-12">
                                  <input [(ngModel)]="pass" matInput placeholder="Enter Password" [type]="hide ? 'password' : 'text'">
                                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </mat-form-field>
                    </div>
                    <div>
                          <mat-form-field class="col-sm-12">
                                  <input [(ngModel)]="pass" matInput placeholder="Enter Confirm Password" [type]="hide ? 'password' : 'text'">
                                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          </mat-form-field>
                    </div>                  
                   <div class="agree_content">
                      <mat-checkbox>I agree terms & conditions</mat-checkbox>
                   </div>
                    <button mat-flat-button  class="log_btn sign_btn">Save</button>
                    <div class="haveaccount">
                   Already I have an account? <span class="themecolor" (click)="loginClick()">Sign up</span> 
                    </div>
                </div>          
          </div>
      </div>
    </div> -->