  <!-- Custom fonts for this template-->
  <!-- <link href="../../plugins/fontawesome/css/all.min.css" rel="stylesheet" type="text/css"> -->

  <!-- Page level plugin CSS-->

   <!-- Plugin Styles-->
   <!-- <link rel="stylesheet" type="text/css" href="../../plugins/FeedEk/css/FeedEk.css"> -->










<div class="page-heading p-3">
    <div class="page-title">  
<h3>Home</h3>
      </div>

</div>










<div id="wrapper">
    <!-- Sidebar -->
    <div id="content-wrapper">
      <div class="container-fluid">
     <!-- Page Content -->
        <div class="row">
            <div class="col-md-9 col-md-offeset-2">
            <div class="row">
<!-- Search Recalls-->
<div class="col-md-6">
     
       <div class="row">
        <div class="col-12 py-2 mt-3">
            <h4>Search Recalls</h4>
           </div>
           <div class="col-12">
              <form class="card pt-5 pb-4" action="search.htm">
                  <div class="card-body py-0">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="SearchTxt"  placeholder="Enter Keywords">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-sm btn-primary">Search</button>  
                            </div>
                          </div>
                    </div>
                 
                    <div class="custom-checkbox filter-list" style="font-size:12px;">
                    <ul>
                        <li>
                              <input type="checkbox" class="custom-control-input" id="veh" value="1">
                              <label class="custom-control-label" for="veh">Vehicles</label>
                        </li>
                        <li>
                            <input type="checkbox" class="custom-control-input" id="con" value="1">
                              <label class="custom-control-label" for="con">Consumer Products</label>
                            </li>
                            <li>
                            <input type="checkbox" class="custom-control-input" id="food" value="1">
                              <label class="custom-control-label" for="food">Food</label>
                            </li>
                            <li>
                            <input type="checkbox" class="custom-control-input" id="drug" value="1">
                              <label class="custom-control-label" for="drug">Drugs</label>
                            </li>
                          </ul>
                        </div>

                        <div class="form-footer">
                            
                          </div>
                  </div>
              
                </form>
           </div>
      </div>
      <hr/>
      <div class="row">
          <div class="col-12">
              <h4>Resources</h4>
             </div>
           
             <div class="col-md-6">
                <div class="card p-3">
                    <div class="d-flex align-items-center">
                      <span class="stamp stamp-md bg-red mr-3">
                        <i class="fa fa-question"></i>
                      </span>
                      <div>
                        <h4 class="m-0"><a href="#">FAQs</a></h4>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="card p-3">
                      <div class="d-flex align-items-center">
                        <span class="stamp stamp-md bg-blue mr-3">
                          <i class="fa fa-book-reader"></i>
                        </span>
                        <div>
                          <h4 class="m-0"><a href="#">How to Guides</a></h4>
                        </div>
                      </div>
                    </div>
               </div>
                <div class="col-md-6">
                    <div class="card p-3">
                        <div class="d-flex align-items-center">
                          <span class="stamp stamp-md bg-blue mr-3">
                            <i class="fa fa-book-open"></i>
                          </span>
                          <div>
                            <h4 class="m-0"><a href="#">Manuals</a></h4>
                          </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="card p-3">
                          <div class="d-flex align-items-center">
                            <span class="stamp stamp-md bg-red mr-3">
                              <i class="fa fa-file-alt"></i>
                            </span>
                            <div>
                              <h4 class="m-0"><a href="#">Forms</a></h4>
                            </div>
                          </div>
                        </div>
                    </div>
        </div>
</div>

              <div class="col-md-6">
                <div class="px-4">
                  <div class="row">
                      <div class="col-6 py-2 mt-3">
                          <h4>My Recalls</h4>
                         </div>
                        <div class="col-6 py-2 mt-3">
                           <div class="text-right">
                             <a href="my-recalls.htm" class="p-2 text-muted"><i class="fa fa-ellipsis-h"></i></a>
                            </div>
                             </div>
                        <div class="col-4">
                            <div class="card">
                              <div class="card-body p-3 text-center">
                                <div class="text-left text-primary">
                                  <i class="fa fa-plus"></i>
                                </div>
                                <div class="h1 m-0">3</div>
                                <div class="text-muted mb-4">New Recalls</div>
                              </div>
                            </div>
                          </div>
                          <div class="col-4">
                              <div class="card">
                                <div class="card-body p-3 text-center">
                                    <div class="text-left text-info">
                                        <i class="fa fa-angle-double-right"></i>
                                      </div>
                                  <div class="h1 m-0">10</div>
                                  <div class="text-muted mb-4">In-Progress</div>
                                 
                                </div>
                              </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                  <div class="card-body p-3 text-center">
                                    <div class="text-left text-success">
                                      <i class="fa fa-check"></i>
                                    </div>
                                    <div class="h1 m-0">2</div>
                                    <div class="text-muted mb-4">Completed</div>
                                  </div>
                                </div>
                              </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-6">
                        <h4>Recent Purchases</h4>
                      </div>
                      <div class="col-6">
                          <div class="text-right">
                              <a  class="p-2 text-muted"><i class="fa fa-ellipsis-h"></i></a>
                             </div>
                      </div>
                    </div>
                    <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <!-- <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                      <tr>
                                        <th><input type="checkbox"></th>
                                        <th>Product Name</th>
                                        <th>Date</th>
                                        <th>Amount</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr> <td><input type="checkbox"></td>
                                        <td>Ford Ranger</td>
                                        <td>2011/04/25</td>
                                        <td>$320,800</td>
                                      </tr>
                                      <tr> <td><input type="checkbox"></td>
                                        <td>E-Cugratte</td>
                                        <td>2011/07/25</td>
                                        <td>$170,750</td>
                                      </tr>
                                      <tr> <td><input type="checkbox"></td>
                                        <td>Chilly Flavored Hotdogs</td>
                                        <td>2009/01/12</td>
                                        <td>$86,000</td>
                                      </tr>
                                      <tr> <td><input type="checkbox"></td>
                                        <td>Robot Vaccum Clearner</td>
                                        <td>2012/03/29</td>
                                        <td>$433,060</td>
                                      </tr>
                                      <tr> <td><input type="checkbox"></td>
                                        <td>Automatic Blender</td>
                                        <td>2008/11/28</td>
                                        <td>$162,700</td>
                                      </tr>
                                  
                                    </tbody>
                                  </table>
                            </div> -->
                            <div class="table-responsive">
                            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                              <!-- Checkbox Column -->
                              <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                  <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                                                [checked]="selection.hasValue() && isAllSelected()"
                                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                [aria-label]="checkboxLabel()">
                                  </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                  <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                                                (change)="$event ? selection.toggle(row) : null"
                                                [checked]="selection.isSelected(row)"
                                                [aria-label]="checkboxLabel(row)">
                                  </mat-checkbox>
                                </td>
                              </ng-container>
                            
                              <!-- Position Column -->
                              <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                              </ng-container>
                            
                              <!-- Name Column -->
                              <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Product Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                              </ng-container>
                            
                              <!-- Weight Column -->
                              <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef> Date </th>
                                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                              </ng-container>
                            
                              <!-- Symbol Column -->
                              <ng-container matColumnDef="amount">
                                <th mat-header-cell *matHeaderCellDef> Amount </th>
                                <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                              </ng-container>
                            
                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                  (click)="selection.toggle(row)">
                              </tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                          </div>




                        </div>
                    </div>
                  </div>
                  </div>
              </div>

            </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body p-0 ra-ticker">
            <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#tabvehicle">
                        <i class="fa fa-car"></i>
                        <span>Vehicle</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#tabconsumer">
                            <i class="fa fa-shopping-cart"></i>
                            <span>Consumer</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#tabfood">
                            <i class="fa fa-cheese"></i>
                            <span>Food</span>
                      </a>
                    </li> 
                     <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#tabdrug">
                            <i class="fa fa-pills"></i>
                            <span>Drug</span>
                      </a>
                    </li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div class="tab-pane px-0 container active" id="tabvehicle">
                        <!-- <marquee behavior="scroll" direction="up" class="h_410">
                            <div id="divRss1"></div>                        
                        </marquee> -->
                        <div class="newsupdate">
                            <div class="content_inner" *ngFor="let newsdetail of newsupdatelist">
                              <a href="{{newsdetail.path}}" target="_blank">{{newsdetail.newstitle}}</a>
                              <p>{{newsdetail.newscontent}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane px-0 container fade" id="tabconsumer">
                        <!-- <marquee behavior="scroll" direction="up" class="h_410">
                            <div id="divRss2"></div>                        
                        </marquee> -->
                        <div class="newsupdate">
                          <div class="content_inner" *ngFor="let newsdetail of newsupdatelistconsumer">
                            <a href="{{newsdetail.path}}" target="_blank">{{newsdetail.newstitle}}</a>
                            <p>{{newsdetail.newscontent}}</p>
                          </div>
                      </div>
                    </div>
                    <div class="tab-pane px-0 container fade" id="tabfood">
                        <!-- <marquee behavior="scroll" direction="up" class="h_410">
                            <div id="divRss3"></div>                        
                        </marquee> -->
                        <div class="newsupdate">
                          <div class="content_inner" *ngFor="let newsdetail of newsupdatelistfood">
                            <a href="{{newsdetail.path}}" target="_blank">{{newsdetail.newstitle}}</a>
                            <p>{{newsdetail.newscontent}}</p>
                          </div>
                      </div>
                    </div>
                    <div class="tab-pane px-0 container fade" id="tabdrug">
                        <!-- <marquee behavior="scroll" direction="up" class="h_410">
                            <div id="divRss4"></div>
                        </marquee> -->
                        <div class="newsupdate">
                          <div class="content_inner" *ngFor="let newsdetail of newsupdatelistdrug">
                            <a href="{{newsdetail.path}}" target="_blank">{{newsdetail.newstitle}}</a>
                            <p>{{newsdetail.newscontent}}</p>
                          </div>
                      </div>
                    </div>
              
                  </div>
                </div>
            </div>
            </div>
        </div>


     </div>
      <!-- /.container-fluid -->


    </div>
    <!-- /.content-wrapper -->

  </div>





