 
<body id="page-top">
  <div class="page-heading p-3">
      <div class="page-title">  
  <h3> Report Problem</h3>
        </div>
  <!-- <div class="page-controls">
    <button type="button" class="btn btn-sm btn-primary">
     Add Product
    </button>
    
  </div> -->
  </div>
  <div id="wrapper">

    <!-- Sidebar -->
    <div id="content-wrapper">
      <div class="container-fluid">
     <!-- Page Content -->
        <div class="row">
            <div class="col-md-9">





<div class="" style="padding-left: 0px;">
    <select  class="custom-select mb-3" id="proselect"  (change)="myFunction($event.target.value)">
        <option selected>Select Product</option>
        <option *ngFor="let prolist of products"  value="{{prolist.ProductName}}">{{prolist.ProductName}} </option>
      
      </select> 
</div>
 
<div class="row" [hidden]="producthidden">
    <div class="col-sm-12 pd_15">
       
        <div class="card_titleproduct">{{data.productheader}}
            <span class="mat_ic"> 
              <button style="outline: none;" mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button style="outline: none;"  mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>
                <button style="outline: none;"  mat-menu-item >
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </span>
            </div>
  
      
    <div class="recards min_h_308" >

      <div class="card-body text-left">

        <div class="row crd_in">
          <div class="col-sm-6">
            <p class="card-text">Product Name </p>
          </div>
          <div class="col-sm-6">
              <p class="card-text">: {{data.ProductName}}</p>
          </div>  

          <div class="col-sm-6">
              <p class="card-text">Manufacturer(s)  </p>
            </div>
            <div class="col-sm-6">
                <p class="card-text">: {{data.Manufacturer}}</p>
            </div> 

            <div class="col-sm-6">
                <p class="card-text">Importer/Wholesaler </p>
              </div>
              <div class="col-sm-6">
                  <p class="card-text">: {{data.ImporterWholesaler}}</p>
              </div> 
              <div class="col-sm-6">
                  <p class="card-text">Retailer Name & Address </p>
                </div>
                <div class="col-sm-6">
                    <p class="card-text">: {{data.RetailerNameaddress}}</p>
                </div> 
                <div class="col-sm-6">
                    <p class="card-text">Retailer Phone  </p>
                  </div>
                  <div class="col-sm-6">
                      <p class="card-text">: {{data.RetailerPhone}}</p>
                  </div> 
                  <div class="col-sm-6">
                      <p class="card-text">Purchase Date </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="card-text">: {{data.PurchaseDate}}</p>
                    </div> 
                    <div class="col-sm-6">
                        <p class="card-text">Payment Mode </p>
                      </div>
                      <div class="col-sm-6">
                          <p class="card-text">: {{data.PaymentMode}}</p>
                      </div>

                      <div class="form-group col-sm-12">
                          <label for="comment">Problems:</label>
                          <textarea class="form-control" [(ngModel)]="prblms" rows="4" id="comment"></textarea>
                        </div>
                        <div style="margin-left: 15px;" class="custom-file upld_sty">
                            <input type="file" [(ngModel)]="upfile" class="custom-file-input" name="filename"  id="{{data.productid}}" (change)="uploadfile($event,data.productid)" />
                            <label class="custom-file-label" for="{{data.productid}}">Choose file</label>
                            <p class="up_p1 col-sm-10" *ngIf="!this.choosedfile=='' && this.proid==data.productid">  {{choosedfile}}</p>
                          </div>
                    <button style="margin-left: 15px;margin-top: 10px;" (click)="submitform()"  type="submit" class="btn btn-primary submit_btn">Submit</button>
 
        </div>


      </div>
<!-- 
              <button class="report_btn" data-toggle="modal" (click)="reportpop(prolist)" data-target="#problem" >
                  <i class="material-icons">error</i> <span>Report a Problem</span>
              </button>     -->
            </div>

          </div>
        </div>


</div>
<div class="col-md-3">
    <div class="card">
        <div class="card-body p-0 ra-ticker">
<ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#tabvehicle">
            <i class="fa fa-car"></i>
            <span>Vehicle</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tabconsumer">
                <i class="fa fa-shopping-cart"></i>
                <span>Consumer</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tabfood">
                <i class="fa fa-cheese"></i>
                <span>Food</span>
          </a>
        </li> 
         <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#tabdrug">
                <i class="fa fa-pills"></i>
                <span>Drug</span>
          </a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane px-0 container active" id="tabvehicle">
            <!-- <marquee behavior="scroll" direction="up" class="h_410">
                <div id="divRss1"></div>                        
            </marquee> -->
            <div class="newsupdate">
                <div class="content_inner" *ngFor="let newsdetail of newsupdatelist">
                  <a href="{{newsdetail.path}}" target="_blank">{{newsdetail.newstitle}}</a>
                  <p>{{newsdetail.newscontent}}</p>
                </div>
            </div>
        </div>
        <div class="tab-pane px-0 container fade" id="tabconsumer">
            <!-- <marquee behavior="scroll" direction="up" class="h_410">
                <div id="divRss2"></div>                        
            </marquee> -->
            <div class="newsupdate">
              <div class="content_inner" *ngFor="let newsdetail of newsupdatelistconsumer">
                <a href="{{newsdetail.path}}" target="_blank">{{newsdetail.newstitle}}</a>
                <p>{{newsdetail.newscontent}}</p>
              </div>
          </div>
        </div>
        <div class="tab-pane px-0 container fade" id="tabfood">
            <!-- <marquee behavior="scroll" direction="up" class="h_410">
                <div id="divRss3"></div>                        
            </marquee> -->
            <div class="newsupdate">
              <div class="content_inner" *ngFor="let newsdetail of newsupdatelistfood">
                <a href="{{newsdetail.path}}" target="_blank">{{newsdetail.newstitle}}</a>
                <p>{{newsdetail.newscontent}}</p>
              </div>
          </div>
        </div>
        <div class="tab-pane px-0 container fade" id="tabdrug">
            <!-- <marquee behavior="scroll" direction="up" class="h_410">
                <div id="divRss4"></div>
            </marquee> -->
            <div class="newsupdate">
              <div class="content_inner" *ngFor="let newsdetail of newsupdatelistdrug">
                <a href="{{newsdetail.path}}" target="_blank">{{newsdetail.newstitle}}</a>
                <p>{{newsdetail.newscontent}}</p>
              </div>
          </div>
        </div>
  
      </div>
    </div>
</div>
</div>

</div>
</div>
</div>
</div>


</body>