
<div>


        <div class="container">
            <h3 class="inner_page_title"><i class="material-icons">dashboard </i>Recall Details</h3>
          <div class="row">
                    <div class="col-sm-4 recallcards" *ngFor="let recallsatuts of recallcards" >
                        <div class="recards">
                          <i class="material-icons {{recallsatuts.iconsclass}} iconsrecall"> {{recallsatuts.recallicon}}</i>
                          <h2 class="count">{{recallsatuts.recallcount}}</h2>
                          <p>{{recallsatuts.recalltitle}}</p>
                        </div>
                    </div>
        </div>
        
        <div class="table_main">
             <h1> GMC SIERRA 1500 PU/CC RWD</h1>
            
             <div class="row recall_details">
               <div class="col-sm-6">
                    <div class="row">
                      <div class="col-sm-6"><strong>Recall Name</strong></div>
                      <div class="col-sm-5">: Product Data </div>           
                    </div>
                  <div class="row">
                      <div class="col-sm-6"><strong>Recall Date</strong></div>
                      <div class="col-sm-5">: Product Data</div>           
                  </div>  
                  <div class="row">
                      <div class="col-sm-6"><strong>Reason</strong></div>
                      <div class="col-sm-5">:Product Data </div>           
                    </div>
                  <div class="row">
                      <div class="col-sm-6"><strong>Units</strong></div>
                      <div class="col-sm-5">: Product Data</div>           
                  </div>  
                  <div class="row">
                      <div class="col-sm-6"><strong>Consumer Contact</strong></div>
                      <div class="col-sm-5">:Product Data </div>           
                    </div>
                  <div class="row">
                      <div class="col-sm-6"><strong>Instant/Injuries</strong></div>
                      <div class="col-sm-5">: Product Data</div>           
                  </div>  
                  <div class="row">
                      <div class="col-sm-6"><strong>Summary</strong></div>
                      <div class="col-sm-5">: Product Data </div>           
                  </div> 
                  <div class="row">
                      <div class="col-sm-6"><strong>Recall Description</strong></div>
                      <div class="col-sm-5">:Product Data </div>           
                  </div>                                                        
               </div>
    
               <div class="col-sm-6">
                  <div class="row">
                      <div class="col-sm-6"><strong>Importer</strong></div>
                      <div class="col-sm-5">:Product Data </div>           
                  </div>              
                  <div class="row">
                      <div class="col-sm-6"><strong>Manufacture</strong></div>
                      <div class="col-sm-5">:Product Data</div>           
                  </div>
                  <div class="row">
                      <div class="col-sm-6"><strong>Manufacture In</strong></div>
                      <div class="col-sm-5">:Product Data </div>           
                  </div>
                  <div class="row">
                      <div class="col-sm-6"><strong>Sold at</strong></div>
                      <div class="col-sm-5">:Product Data</div>           
                  </div>
                  <div class="row">
                      <div class="col-sm-6"><strong>Photos</strong></div>
                      <div class="col-sm-5">:Product Data </div>           
                  </div>
                  <div class="row">
                      <div class="col-sm-6"><strong>Distributer</strong></div>
                      <div class="col-sm-5">:Product Data </div>           
                  </div>
                  <div class="row">
                      <div class="col-sm-6"><strong>Vin</strong></div>
                      <div class="col-sm-5">:Product Data </div>           
                  </div>              
                  <div class="row">
                      <div class="col-sm-6"><strong>Notes</strong></div>
                      <div class="col-sm-5">:Product Data </div>           
                  </div>                                                                       
                </div>           
             </div>
        </div>
        </div>
        </div>
        
        






























<!-- 
<div>


    <div class="container">
        <h3 class="inner_page_title"><i class="material-icons">dashboard </i>Recall Details</h3>
      <div class="row">
                <div class="col-sm-4 recallcards" *ngFor="let recallsatuts of recallcards" >
                    <div class="recards">
                      <i class="material-icons {{recallsatuts.iconsclass}} iconsrecall"> {{recallsatuts.recallicon}}</i>
                      <h2 class="count">{{recallsatuts.recallcount}}</h2>
                      <p>{{recallsatuts.recalltitle}}</p>
                    </div>
                </div>
    </div>
    
    <div class="table_main" *ngFor="let recalldetail of recalldetail">
         <h1> {{recalldetail.productname}}</h1>
        
         <div class="row recall_details">
           <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-6"><strong>Recall Name</strong></div>
                  <div class="col-sm-5">: {{recalldetail.recallno}}</div>           
                </div>
              <div class="row">
                  <div class="col-sm-6"><strong>Recall Date</strong></div>
                  <div class="col-sm-5">: {{recalldetail.recalldate}}</div>           
              </div>  
              <div class="row">
                  <div class="col-sm-6"><strong>Reason</strong></div>
                  <div class="col-sm-5">: {{recalldetail.reason}}</div>           
                </div>
              <div class="row">
                  <div class="col-sm-6"><strong>Units</strong></div>
                  <div class="col-sm-5">: {{recalldetail.units}}</div>           
              </div>  
              <div class="row">
                  <div class="col-sm-6"><strong>Consumer Contact</strong></div>
                  <div class="col-sm-5">: {{recalldetail.consumer_contact}}</div>           
                </div>
              <div class="row">
                  <div class="col-sm-6"><strong>Instant/Injuries</strong></div>
                  <div class="col-sm-5">: {{recalldetail.instant_injuries}}</div>           
              </div>  
              <div class="row">
                  <div class="col-sm-6"><strong>Summary</strong></div>
                  <div class="col-sm-5">: {{recalldetail.summary}}</div>           
              </div> 
              <div class="row">
                  <div class="col-sm-6"><strong>Recall Description</strong></div>
                  <div class="col-sm-5">: {{recalldetail.recalldescription}}</div>           
              </div>                                                        
           </div>

           <div class="col-sm-6">
              <div class="row">
                  <div class="col-sm-6"><strong>Importer</strong></div>
                  <div class="col-sm-5">: {{recalldetail.importer}}</div>           
              </div>              
              <div class="row">
                  <div class="col-sm-6"><strong>Manufacture</strong></div>
                  <div class="col-sm-5">: {{recalldetail.manufacture}}</div>           
              </div>
              <div class="row">
                  <div class="col-sm-6"><strong>Manufacture In</strong></div>
                  <div class="col-sm-5">: {{recalldetail.manufacture_in}}</div>           
              </div>
              <div class="row">
                  <div class="col-sm-6"><strong>Sold at</strong></div>
                  <div class="col-sm-5">: {{recalldetail.soldat}}</div>           
              </div>
              <div class="row">
                  <div class="col-sm-6"><strong>Photos</strong></div>
                  <div class="col-sm-5">: {{recalldetail.photos}}</div>           
              </div>
              <div class="row">
                  <div class="col-sm-6"><strong>Distributer</strong></div>
                  <div class="col-sm-5">: {{recalldetail.distributer}}</div>           
              </div>
              <div class="row">
                  <div class="col-sm-6"><strong>Vin</strong></div>
                  <div class="col-sm-5">: {{recalldetail.vin}}</div>           
              </div>              
              <div class="row">
                  <div class="col-sm-6"><strong>Notes</strong></div>
                  <div class="col-sm-5">: {{recalldetail.notes}}</div>           
              </div>                                                                       
            </div>           
         </div>
    </div>
    </div>
    </div>
    
     -->