.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  

  .profile_card {
    background: #009efa none repeat scroll 0 0;
    border: medium none;
    overflow: hidden;
    padding: 0 !important;
}


.btn-icon {
    background: #009EFA none repeat scroll 0 0;
    color: #ffffff !important;
    font-size: 94px;
    height: 100%;
    line-height: 258px;
    opacity: 0.2;
    position: absolute;
    text-align: center;
    width: 100%;
    transition: all 0.4s ease 0s;
}

.avatar {
    position: relative;
    cursor:pointer;
}

.profile-info {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    color: #ffffff;
    padding: 7px 17px;
    width: 100%;
}


.profile-info{

    h2{
    margin: 0;
    color: #ffffff;
    }
}


.list-group {
    padding: 15px;
    a {
        background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
        border: none;
        border-radius: 0;
        color: #afafaf;
        font-size: 14px;
        padding: 0px;
        // text-transform: uppercase;
}
p{
    margin-bottom: 5px;
}
}

img {
    height: auto;
    max-width: 100%;
}

body {
    background: #ffffff none repeat scroll 0 0;
    color: #1f1f1f;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 25px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}


.widget {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 12px;
    display: inline-block;
    border: 1px solid #dddddd;
    margin-bottom: 27px;
    padding: 30px;
    position: relative;
    width: 100%;
}


a { a:hover {
    text-decoration: none !important;
}
}
.magin-bottom-none {
    margin-bottom: 0px !important;
}

.profile-info{

    h2{

        font-size:25px;
    }
}


.profile-info {
    background: #009efa none repeat scroll 0 0;
    color: #ffffff;
    padding: 3px 15px;
    width: 100%;
}


.profile-info {

    h2{
font-size: 22px;
padding-top: 4px;
    }}





.widget-header { h1 {
    margin: 0 0 15px;
}
}

h1 {
    font-size: 24px;
    line-height: 30px;
}
.settings_height{

    padding-top:13px;
    padding-bottom:13px;

}

.btn-icon:hover {
    font-size: 50px;
    opacity: 0.8;
}


// .fa {
//     display: inline-block;
//     font: normal normal normal 14px/1 FontAwesome;
//     font-size: inherit;
//     text-rendering: auto;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }



.mat_ic{
font-size: 72px;
color: white;
display: inline-block;
position: initial;
margin-left: -55px;
}

.padding_left{
    padding-left: 75px;
}

.delete_account{
    color: white;
}


.seller-detail{
    color: #f3e1e1;
}