


<div id="wrapper">

    <ul class="sidebar navbar-nav">
        <li class="nav-item">
            <a class="nav-link nav-logo" routerLink="/manufuctrermanage-product">
             <img src="assets/image/{{manulogo}}"  alt="Ford" class="img-fluid" />
              </a>
        </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="/manufacturerdashboard">
                  <i class="fas fa-fw fa-tachometer-alt"></i>
                  <span>Dashboard</span>
                </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/recall">
                    <i class="fas fa-fw fa-history "></i>
                    <span>Recalls</span>
                  </a>
                </li>
              <li class="nav-item">
                      <a class="nav-link" routerLink="/manufuctrermanage-product">
                        <i class="fas fa-fw fa-boxes"></i>
                        <span>Products</span>
                      </a>
                    </li>
                        <li class="nav-item">
                              <a class="nav-link" routerLink="/sale">
                                <i class="fas fa-fw fa-user-check"></i>
                                <span>Sales</span>
                              </a>
                            </li>
                            <li class="nav-item">
                                  <a class="nav-link" routerLink="/manageretailer">
                                    <i class="fas fa-fw fa-users"></i>
                                    <span>Customers</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                      <a class="nav-link" routerLink="/viewcomplaint">
                                        <i class="fas fa-fw fa-envelope-open-text"></i>
                                        <span>Complaints</span>
                                      </a>
                                    </li>
                                    <li class="nav-item">
                                          <a class="nav-link" routerLink="/reports">
                                            <i class="fas fa-fw fa-file-alt"></i>
                                            <span>Reports</span>
                                          </a>
                                        </li>
              <li class="nav-item">
                      <a class="nav-link" routerLink="/manufucturer-settings">
                  <i class="fas fa-fw fa-cog"></i>
                  <span>Settings</span>
                </a>
              </li>     
    </ul>



<div id="content-wrapper" class="p_l_226">
   <!-- <div class="container-fluid"> -->
      <div class="padding_left">
          <div class="container">
              <h3 class="page_title"><i class="material-icons">build  </i>Profile Settings</h3>
          </div>
         
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="widget profile_card margin-bottom-none">
            <div class="avatar">
                <a class="btn-icon" title="" data-placement="left" data-toggle="tooltip" data-original-title="Edit">
                    <mat-icon class="mat_ic">camera_alt</mat-icon> </a>
                    <img class="profile-dp" alt="User Image" src="assets/image/{{profileimg}}" style="height: 290px;width: 420px;">
            </div>
            <div class="list-group">
                <a class="list-group-item" > Email Address </a>
                <p><strong>{{profilename.email}}</strong></p>
                <a class="list-group-item" >Name</a>
                <p><strong>{{profilename.firstname}} {{profilename.lastname}}</strong></p>
               
             </div>
      
             <div class="btn btn_theme btn-block delete_account">	<mat-icon style="vertical-align: bottom;">delete_sweep</mat-icon> Delete Account</div>
      
                    </div>
                </div>
      
                <div class="col-sm-7"> 
                    <div class="widget my-profile margin-bottom-none">
                         <div class="profilesettings">
                            <div class="row">
                                <div class="col-sm-4"><h5>First Name :</h5></div>
                                <div class="col-sm-8">
                                    <mat-form-field class="col-sm-12">
                                        <input matInput value="{{profilename.firstname}}" placeholder="First Name">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4"><h5>Last Name :</h5></div>
                                <div class="col-sm-8">
                                    <mat-form-field class="col-sm-12">
                                        <input matInput value="{{profilename.lastname}}" placeholder="Last Name">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4"><h5>Email Address :</h5></div>
                                <div class="col-sm-8">
                                    <mat-form-field class="col-sm-12">
                                        <input matInput value="{{profilename.email}}" placeholder="Email Address">
                                    </mat-form-field>
                                </div>
                            </div>                                            
                         </div>
      
      
      
                              <div  style="text-align:end;">
                                  <button mat-raised-button class="btn_theme" style="color:white;">Update Profile</button>
      
                                </div>
      </div>
                    </div>
                </div>
            </div>
        </div>
      
      
      
      
   <!-- </div>    -->

        
</div>

</div>















<!-- 
<div class="container">
    <div class="table_main">
        <h1>Complaint List</h1>
       <div class="table-responsive ">
           <mat-form-field>
             <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
           </mat-form-field>
           <table mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8 datatable_points">
             <ng-container matColumnDef="position">
               <th mat-header-cell *matHeaderCellDef  mat-sort-header> S.No. </th>
               <td mat-cell *matCellDef="let element"> {{element.position}} </td>
             </ng-container>
             <ng-container matColumnDef="date" >
               <th mat-header-cell *matHeaderCellDef  mat-sort-header> Date </th>
               <td mat-cell *matCellDef="let element"> {{element.date}} </td>
             </ng-container>
             <ng-container matColumnDef="productname">
               <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
               <td mat-cell *matCellDef="let element"> {{element.productname}} </td>
             </ng-container>
             <ng-container matColumnDef="sellername" >
               <th mat-header-cell *matHeaderCellDef mat-sort-header> Seller's Name </th>
               <td mat-cell *matCellDef="let element"> {{element.sellername}} </td>
             </ng-container>
             <ng-container matColumnDef="compliant" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Compliant </th>
                <td mat-cell *matCellDef="let element"> {{element.compliant}} </td>
              </ng-container>
             
             <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
                <td mat-cell *matCellDef="let element"><i (click)="chat()" class="material-icons cursor">question_answer</i> <i (click)="removeComplaint()" class="material-icons cursor">clear</i></td>
              </ng-container>
             <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
             <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
           </table>
           <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
         </div>
   </div>
 </div>  -->