<div class="">
    <div class="container">
        <h3 class="page_title"><i class="material-icons">build  </i>Profile Settings</h3>
    </div>
   
  <div class="container">
      <div class="row">
          <div class="col-sm-3">
              <div class="widget profile_card margin-bottom-none">
      <div class="avatar">
          <a class="btn-icon" title="" data-placement="left" data-toggle="tooltip" data-original-title="Edit">
              <mat-icon class="mat_ic">camera_alt</mat-icon> </a>
              <img class="profile-dp" alt="User Image" src="assets/image/{{profileimg}}" style="height: 290px;width: 420px;">
      </div>
      <div class="list-group">
          <a class="list-group-item" > Email Address </a>
          <p><strong>{{profilename.email}}</strong></p>
          <a class="list-group-item" >Name</a>
          <p><strong>{{profilename.firstname}} {{profilename.lastname}}</strong></p>
         
       </div>

       <div class="btn btn_theme btn-block delete_account">	<mat-icon style="vertical-align: bottom;">delete_sweep</mat-icon> Delete Account</div>

              </div>
          </div>

          <div class="col-sm-7"> 
              <div class="widget my-profile margin-bottom-none">
                   <div class="profilesettings">
                      <div class="row">
                          <div class="col-sm-4"><h5>First Name :</h5></div>
                          <div class="col-sm-8">
                              <mat-form-field class="col-sm-12">
                                  <input matInput value="{{profilename.firstname}}" placeholder="First Name">
                              </mat-form-field>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-4"><h5>Last Name :</h5></div>
                          <div class="col-sm-8">
                              <mat-form-field class="col-sm-12">
                                  <input matInput value="{{profilename.lastname}}" placeholder="Last Name">
                              </mat-form-field>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-sm-4"><h5>Email Address :</h5></div>
                          <div class="col-sm-8">
                              <mat-form-field class="col-sm-12">
                                  <input matInput value="{{profilename.email}}" placeholder="Email Address">
                              </mat-form-field>
                          </div>
                      </div>                                            
                   </div>



                        <div  style="text-align:end;">
                            <button mat-raised-button class="btn_theme" style="color:white;">Update Profile</button>

                          </div>
</div>
              </div>
          </div>
      </div>
  </div>


